<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa Hoe</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/a99dce3628.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <a id="logo" href="/"><img id="logo-img" src="/brand/LOGO-PapaHoe-LogoWord-Negativo.png" alt="PapaHoe Logo"></a>
        <nav class="main-navbar">
            <ul>
                <li><a href="#">Surfboards</a></li>
                <li><a href="#">Complementos</a></li>
                <li><a href="/productDetail">Board Builder</a></li>
                <li><a href="#">Nosotros</a></li>
            </ul>
        </nav>
        <nav class="icons-navbar">
            <ul>
                <li><a href="#"><span id="lupa-icon"><i class="fa-solid fa-magnifying-glass"></i></span></a></li>
                <li><a href="/login"><span id="usuario-icon"><i class="fa-solid fa-user"></i></span></a></li>
                <li><a href="#"><span id="carrito-icon"><i class="fa-solid fa-cart-shopping"></i></span></a></li>
            </ul>
        </nav>


        <!--<ul>
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="#"></a><i class="fa-solid fa-cart-shopping"></i></li>
                <li><a href="#"><i class="fa-solid fa-language"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-flag"></i></a></li>
                <li><a href="#"> <i class="fa-solid fa-moon"></i></a></li>
            </ul>
            <form class="search-box">
                <input type="text" placeholder="Buscar productos, marcas">
                <button class="magnifier" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>-->
    </header>


    <main class="main-home">
        <div class="slider-home">
            <img class="slider-image" src="./img/evert-van-duijn-J6Z9IifdDD0-unsplash.jpg" alt="PapaHoe Championship">
        </div>
        <div class="producto-destacado">
            <div class="contenedor-producto">
                <img src="/img/surfboards/img_9758-1b.png" alt="Gun Hoover">
            </div>
            <div class="destacado-descripcion">
                <h1>Gun Hoover</h1>
                <h2>Conocé la nueva colección</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat </p>
            </div>
            <div class="destacado-tabla">
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
            </div>
        </div>

        <div class="categorias-home">
            <div class="categorias-image">
                <img src="./img/evert-van-duijn-J6Z9IifdDD0-unsplash.jpg" alt="PapaHoe Tablas">
            </div>
            <div class="categorias-image">
                <img src="./img/accesorios/LegRopes/pyzel_c_traction_651081fa-4a64-45ce-9d32-0de2927eaa66_2400x.webp"
                    alt="PapaHoe Accesorios">
            </div>
            <div class="categorias-image">
                <img src="./img/accesorios/LegRopes/pyzel_c_traction_651081fa-4a64-45ce-9d32-0de2927eaa66_2400x.webp"
                    alt="PapaHoe Complementos">
            </div>
        </div>
        <div>

        </div>
    </main>

    <footer>
        <div class="grid-menu-footer">
            <div class="social-footer">

                <form class="suscripcion-box">
                    <input type="email" placeholder="Unite a la tribu">
                    <button class="sobre" type="submit"><i class="fa-solid fa-envelope"></i></button>
                </form>

                <div class="iconos-social-footer">
                    <button class="instagram-footer" type="button"><i class="fa-brands fa-instagram"></i></button>
                    <button class="facebook-footer" type="button"><i class="fa-brands fa-facebook-f"></i></button>
                    <button class="youtube-footer" type="button"><i class="fa-brands fa-youtube"></i></button>
                    <button class="vimeo-footer" type="button"><i class="fa-brands fa-vimeo-v"></i></button>
                </div>

                <img class="detalles-design" src="/brand/PapaHoe-ELEMENTS-LosPuntitos.png" alt="PapaHoe Brand elements">

                <div class="copyright">
                    <img id="logo-footer" src="/brand/PapaHoe-logo-min-white.svg" alt="PapaHoe Logo">
                    Copyright © 2022 Papa Hoe
                </div>

            </div>

            <ul class="navegacion-footer">
                <li>
                    <h3>Papa Hoe</h3>
                </li>
                <li>About</li>
                <li>Team Riders</li>
                <li>Contacto</li>
                <li>Privacidad</li>
            </ul>

            <ul class="navegacion-footer">
                <li>
                    <h3>Ayuda</h3>
                </li>
                <li>CustomBoard Tracker</li>
                <li>Volume Calculator</li>
                <li>FAQ's</li>
                <li>Envíos y Devoluciones</li>
                <li>Términos y Condiciones</li>
            </ul>

            <ul class="info-footer">
                <li>
                    <h3>Servicio al Cliente</h3>
                </li>
                <li>info@papahoe.com</li>
                <li>ARG +54 11 4395 859<br>MEX +52 00 4395 859</li>
                <li>
                    <h4>Surfboard Factory</h4>
                    Calle Cualca 27<br>Villa Gesell, Argentina?
                </li>
                <li>
                    <h4>DF Showroom</h4>
                    San Tlatelolco 123<br>Colonia Roma, DF
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>