<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa Hoe</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/a99dce3628.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">

    <!--Imports a model-viewer JavaScript code -->
    <!--It helps to handle how the 3D Object would be displayed -->
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>

</head>

<body>
    <header>
        <a href="/"><img id="logo-header" src="/brand/LOGO-PapaHoe-LogoWord-Negativo.png" alt="PapaHoe Logo"></a>
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-cart-shopping"></i>
        <i class="fa-solid fa-language"></i>
        <i class="fa-solid fa-flag"></i>
        <i class="fa-solid fa-moon"></i>
    </header>

    <main>
        <!--h1>Hola Mundo!</h1-->
        <!-- Main Container -->
    <div id="main">

        <!-- An aside -->
        <!-- This is for holding the 3D object -->
        <div id="tabla">

            <!-- 3D objsect -->
            <!-- This inserts the 3D object inside the aside container -->
            <model-viewer src="assets/surf3.gltf" alt="Tabla de Surf" auto-rotate camera-controls ar ios-src="assets/surf3.gltf">
            </model-viewer>
        </div>

        <div id="content">
            <h2>TABLA DE SURF</h2>
            <p>Comprala ahora!</p>
            <button>Shop</button>
        </div>
    </div>
    </main>

    <footer>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/productCart">productCart</a></li>
            <li><a href="/productDetail">productDetail</a></li>
        </ul>
    </footer>
</body>

</html>