<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa Hoe</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/a99dce3628.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a id="logo" href="/"><img id="logo-header" src="/brand/LOGO-PapaHoe-LogoWord-Negativo.png"
                    alt="PapaHoe Logo"></a>
            <ul class="right-navbar">
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-language"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-flag"></i></a></li>
                <li><a href="#"> <i class="fa-solid fa-moon"></i></a></li>
            </ul>
            <!-- <form class="search-box">
                <input type="text" placeholder="Buscar productos, marcas">
                <button class="magnifier" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            -->
        </div>
        <nav class="main-navbar">
            <ul class="sections-navbar">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registro</a></li>
                <li><a href="/#">Surfboards</a></li>
                <li><a href="/productCart">Shop</a></li>
                <li><a href="/productDetail">Board Builder</a></li>
                <li><a href="/#">About</a></li>
            </ul>
        </nav>
        </div>
    </header>


    <main class="main-index">
        <div class="slider-index">
            <img class="slider-image" src="./img/evert-van-duijn-J6Z9IifdDD0-unsplash.jpg" alt="PapaHoe Championship">
        </div>
        <div class="categorias-index">
            <div class="categorias-image">
                <img src="./img/evert-van-duijn-J6Z9IifdDD0-unsplash.jpg" alt="PapaHoe Tablas">
            </div>
            <div class="categorias-image">
                <img src="./img/accesorios/LegRopes/pyzel_c_traction_651081fa-4a64-45ce-9d32-0de2927eaa66_2400x.webp" alt="PapaHoe Accesorios">
            </div>
            <div class="categorias-image">
                <img src="./img/accesorios/LegRopes/pyzel_c_traction_651081fa-4a64-45ce-9d32-0de2927eaa66_2400x.webp" alt="PapaHoe Complementos">
            </div>
        </div>
        <div>

        </div>
    </main>

    <footer>

    </footer>
</body>

</html>