<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa Hoe</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/a99dce3628.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a id="logo" href="/"><img id="logo-header" src="/brand/LOGO-PapaHoe-LogoWord-Negativo.png"
                    alt="PapaHoe Logo"></a>
            <ul class="right-navbar">
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-language"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-flag"></i></a></li>
                <li><a href="#"> <i class="fa-solid fa-moon"></i></a></li>
            </ul>
            <!-- <form class="search-box">
                <input type="text" placeholder="Buscar productos, marcas">
                <button class="magnifier" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            -->
        </div>
        <nav class="main-navbar">
            <ul class="sections-navbar">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registro</a></li>
                <li><a href="/productCart">Shop</a></li>
                <li><a href="/productDetail">Board Builder</a></li>
            </ul>
        </nav>
        </div>
    </header>

    <main class="completar">
        <h2 class="titular">Antes de empezar, ¡necesitamos tus datos!</h2>
        <a class="Linea" href="/login"><img id="imagen-header" src="/brand/PapaHoe-ELEMENTS-Lalinea.png" alt="LaLinea" width="90%"></a>
        
        <form action="/views/login.html" method="post">
            <div class="registro">
                <div class="datos">
                    <span>
                    <label class="titulo" for="email"></label> Correo Electrónico / Usuari@ 
                    <input class="caja" type="email" name="email" id="email" placeholder="Correo Electrónico / Usuari@"required>
                    </span>
                </div>

                <div class="datos">
                    <span>
                    <label class="titulo" for="contraseña"></label> Contraseña
                    <input class="caja" type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
                    </span>
                </div>
            </div>
            <button class="boton" type="submit">Ingresar</button>

            <a class="Linea" href="/login"><img id="imagen-header" src="/brand/PapaHoe-ELEMENTS-Lalinea.png" alt="LaLinea" width="90%"></a>

            <h5 class="ingreso">O ingresá con:</h5>

            <div class="logo-ingreso">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-google"></i>
            </div>
    </main>

    <footer>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/productCart">productCart</a></li>
            <li><a href="/productDetail">productDetail</a></li>
        </ul>
    </footer>
</body>

</html>