<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
            <main class="shopify-checkout">
                <section class="data-user">
                    <div class="shopify-contact">
                        <a href="productDetail"> Carrito
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                        <p class="resaltar"> Información
                            <i class="fa-solid fa-angle-right"></i>
                        </p>
                        <p> Pago
                            <i class="fa-solid fa-angle-right"></i>
                        </p>
                    </div>

                    <form class="chequeo" action="#">
                        <h4>Chequeo rápido</h4>
                        <button class="boton-chequeo" type="submit">
                            <i class="fa-brands fa-cc-paypal"></i>
                        </button>
                    </form>

                    <div class="division">
                        <p>o</p>
                    </div>


                    <form action="/views/productCart.ejs" method="post">
                        <div class="contacto">
                            <h2>Información de contacto</h2>
                            <P>¿Ya tiene una cuenta?
                            <a href="login">Iniciar sesión</a>
                            </P>
                        </div>
                        <input class="caja-shop" type="email" name="email" id="email"
                            placeholder="Correo Electrónico / Usuari@" required>
                    </form>

                    <form action="/views/productCart" method="post">
                        <div class="direccion-envio">
                            <h2>Dirección de envío</h2>

                            <div>
                                <div>
                                    <label for="nombre"></label> Nombre y Apellido
                                </div>
                                <input class="caja-shop" type="text" name="nombre" id="nombre"
                                    placeholder="Nombre y Apellido" required>
                            </div>

                            <div>
                                <div>
                                    <label for="dirección"></label> Dirección
                                </div>
                                <input class="caja-shop" type="text" name="dirección" id="dirección"
                                    placeholder="Dirección" required>
                            </div>

                            <div class="direccion">
                                <div>
                                    <div>
                                        <label for="departamento"></label> Piso, departamento
                                    </div>
                                    <input class="caja-shop" type="text" name="departamento" id="departamento"
                                        placeholder="Piso, departamento" required>
                                </div>

                                <div>
                                    <div>
                                        <label for="localidad"></label> Localidad
                                    </div>
                                    <input class="caja-shop" type="text" name="localidad" id="localidad"
                                        placeholder="Localidad" required>
                                </div>

                                <div>
                                    <div>
                                        <label for="codigo-postal"></label> Código Postal
                                    </div>
                                    <input class="caja-shop" type="text" name="codigo-postal" id="codigo-postal"
                                        placeholder="Código Postal" required>
                                </div>
                            </div>

                            <div>
                                <label for="telefono"></label> Teléfono
                            </div>
                            <input class="caja-shop" type="text" name="telefono" id="telefono" placeholder="Teléfono"
                                required>
                        </div>

                        <div>
                            <a href="productDetail">
                                <i class="fa-solid fa-angle-left"></i> Volver a XXXXX
                            </a>
                            <a href="productCart2">
                            <button class="boton-shop" type="submit">Continuar con el envío</button>
                            </a>
                        </div>
                    </form>
                </section>

                <section class="data-product">
                    <div class="mostrar">
                        <a href="#">Mostrar detalle del pedido</a>
                        <p>$XXXX,XX</p>
                    </div>
                    <div class="ocultar" >
                        <a href="#">Ocultar detalle del pedido</a>
                    </div>
                    <div class="detallePedido">
                    <article id="prod">
                        <img src="/img/Surfboards/img_9758-1b.png" alt="producto">
                        <p>Tabla Pipona</p>
                        <p>U$525,00</p>
                        <i class="fa-solid fa-trash-can"></i>
                    </article>
                    <article id="prod">
                        <img src="/img/accesorios/Fins/pyzel_c_fins_bc8db4a4-7135-4dbc-afa2-af81f9c25f6a.webp"
                            alt="producto">
                        <p>Fin Pipon</p>
                        <p>U$225,00</p>
                        <i class="fa-solid fa-trash-can"></i>
                    </article>
                    </div>
                    
                    <button class="boton" type="submit">Seguir comprando
                        <a href="shop"></a>
                    </button>

                    <form class="giftCard" action="# //gift card// ">
                        <input class="caja-shop" type="text" name="giftCard" id="giftCard"
                        placeholder="Gift Card o Código de descuento">
                        <button class="boton-descuento" type="submit">Aplicar</button>
                    </form>


                </section>
            </main>
            <%- include("./partials/footer") %>
    </body>

</html>