<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa Hoe</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/a99dce3628.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a id="logo" href="/"><img id="logo-header" src="/brand/LOGO-PapaHoe-LogoWord-Negativo.png"
                    alt="PapaHoe Logo"></a>
            <ul class="right-navbar">
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-language"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-flag"></i></a></li>
                <li><a href="#"> <i class="fa-solid fa-moon"></i></a></li>
            </ul>
            <!-- <form class="search-box">
                <input type="text" placeholder="Buscar productos, marcas">
                <button class="magnifier" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            -->
        </div>
        <nav class="main-navbar">
            <ul class="sections-navbar">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registro</a></li>
                <li><a href="/productCart">Shop</a></li>
                <li><a href="/productDetail">Board Builder</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <main>
        <h1>CART SHOPPING</h1>

        <div class="img-product">
            <p><img src="/public/brand/PapaHoe-ICON-RosaSummer.png" alt="Imagen del producto"></p>
        </div>

        <form class="shop" action="/" method="POST">
            <div class="textbox">
                <label for="name-product">Nombre del producto</label>
                <input type="text" name="name-product" id="name-product">
            </div>
            <div class="textbox">
                <label for="description-product">Descripción del producto </label>
                <textarea name="description-product" id="description-product">Aquí enlazar la descripción del producto</textarea>
            </div>
            <div class="textbox">
                <label for="price">Precio</label>
                <input type="number" name="price" id="price">
            </div>
            <div class="textbox">
                <label for="quantify">Cantidad</label>
                <input type="number" name="quantify" id="quantify">
            </div>
            <div class="button">
                <input type="button" value="Comprar">
            </div>
        </form> 
    </main>
    <footer>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/productCart">productCart</a></li>
            <li><a href="/productDetail">productDetail</a></li>
        </ul>
    </footer>
</body>

</html>