<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa Hoe</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/a99dce3628.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <a id="logo" href="/"><img id="logo-img" src="/brand/LOGO-PapaHoe-LogoWord-Negativo.png" alt="PapaHoe Logo"></a>
        <nav class="main-navbar">
            <ul>
                <li><a href="/shop">Surfboards</a></li>
                <li><a href="/shop">Complementos</a></li>
                <li><a href="/productDetail">Board Builder</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <nav class="icons-navbar">
            <ul>
                <li><a href="#"><span id="lupa-icon"><i class="fa-solid fa-magnifying-glass"></i></span></a></li>

                <li><a href="/login"><span id="usuario-icon"><i class="fa-solid fa-user"></i></span></a></li>
                <li><a href="/productCart"><span id="carrito-icon"><i class="fa-solid fa-cart-shopping"></i></span></a></li>
            </ul>
        </nav>
    </header>

    
<main class="shopify-checkout">
    <section class="data-user">
        <div class="shopify-contact">
            <p class="informacion"> Información
            <i class="fa-solid fa-angle-right"></i>
            </p>
            <p> Pago
            <i class="fa-solid fa-angle-right"></i>
            </p>
        </div>

        
        <div class="chequeo">
            <h4>Chequeo rápido</h4>
            <button class="boton-chequeo" type="submit">Aceptar</button>
        </div>
    
        <div class="division">
            <p>o</p>
        </div>


        <form action="/views/shop.html" method="post" >
            <div class="contacto">
                <h2>Información de contacto</h2>
                <P>¿Ya tiene una cuenta?</P>
                <a href="login.html">Iniciar sesión</a> 
            </div>
                <input class="caja-shop" type="email" name="email" id="email" placeholder="Correo Electrónico / Usuari@"required>
                            

            <div class="direccion-envio">
                <h2>Dirección de envío</h2>

                <div >
                    <div>
                    <label for="nombre"></label> Nombre y Apellido
                    </div>
                    <input class="caja-shop" type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" required > 
                </div> 

                <div >
                    <div>
                    <label for="dirección"></label> Dirección
                    </div>
                    <input class="caja-shop" type="text" name="dirección" id="dirección" placeholder="Dirección" required> 
                </div> 

                <div class="direccion">
                    <div >
                        <div>
                        <label for="departamento"></label> Piso, departamento
                        </div>
                        <input class="caja-shop" type="text" name="departamento" id="departamento" placeholder="Piso, departamento" required> 
                    </div> 

                    <div >
                        <div>
                        <label for="localidad"></label> Localidad
                        </div>
                        <input class="caja-shop" type="text" name="localidad" id="localidad" placeholder="Localidad" required> 
                    </div> 

                    <div >
                        <div>
                        <label for="codigo-postal"></label> Código Postal
                        </div>
                        <input class="caja-shop" type="text" name="codigo-postal" id="codigo-postal" placeholder="Código Postal" required>
                    </div>
                </div>

                <div>
                    <label for="telefono"></label> Teléfono
                    </div>
                    <input class="caja-shop" type="number" name="telefono" id="telefono" placeholder="Teléfono" required>
                </div>

                <div>
                    <button class="boton-shop" type="submit">Continuar con el envío</button>
                </div>
            
            
            </div>
    </section>

    <section class="data-product">
        <article id="prod">
            <img src="/img/Surfboards/img_9758-1b.png" alt="producto">
            <p>Tabla Pipona</p>
            <p>U$525,00</p>
        </article>
        <article id="prod">
            <img src="/img/accesorios/Fins/pyzel_c_fins_bc8db4a4-7135-4dbc-afa2-af81f9c25f6a.webp" alt="producto">
            <p>Fin Pipon</p>
            <p>U$225,00</p>
        </article>
        <div class="recomendado-shop">
        <h5>Recomendado</h5>
            <article id="prod">
                <img src="/img/accesorios/LegRopes/01 FREEDOM HELIX ALL ROUND LEASH/fcs_legropes_freedom-helix-all-round_blue-black_a_1080x.webp" alt="producto">
                <p>Leg Ropres Pipon</p>
                <p>U$175,00</p>
            </article>    
        </div>


    </section>

    </main>