<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa Hoe</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/a99dce3628.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <a id="logo" href="/"><img id="logo-img" src="/brand/LOGO-PapaHoe-LogoWord-Negativo.png" alt="PapaHoe Logo"></a>
        <nav class="main-navbar">
            <ul>
                <li><a href="#">Surfboards</a></li>
                <li><a href="#">Complementos</a></li>
                <li><a href="/productDetail">Board Builder</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="/shop">Surfboards</a></li>
                <li><a href="/shop">Complementos</a></li>
                <li><a href="/productDetail">Board Builder</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <nav class="icons-navbar">
            <ul>
                <li><a href="#"><span id="lupa-icon"><i class="fa-solid fa-magnifying-glass"></i></span></a></li>
                <li><a href="/login"><span id="usuario-icon"><i class="fa-solid fa-user"></i></span></a></li>
                <li><a href="/productCart"><span id="carrito-icon"><i class="fa-solid fa-cart-shopping"></i></span></a></li>
            </ul>
        </nav>
    </header>

    
<main class="shopify-checkout">
    <section class="data-user">
        <div class="shopify-contact">
            <p class="informacion"> Información
            <i class="fa-solid fa-angle-right"></i>
            </p>
            <p> Pago
            <i class="fa-solid fa-angle-right"></i>
            </p>
        </div>

        
        <div class="chequeo">
            <h4>Chequeo rápido</h4>
            <button class="boton-chequeo" type="submit">Aceptar</button>
        </div>
    
        <div class="division">
            <p>o</p>
        </div>


        <form action="/views/shop.html" method="post" >
            <div class="contacto">
                <h2>Información de contacto</h2>
                <P>¿Ya tiene una cuenta?</P>
                <a href="login.html">Iniciar sesión</a> 
            </div>
                <input class="caja-shop" type="email" name="email" id="email" placeholder="Correo Electrónico / Usuari@"required>
                            

            <div class="direccion-envio">
                <h2>Dirección de envío</h2>

                <div >
                    <div>
                    <label for="nombre"></label> Nombre y Apellido
                    </div>
                    <input class="caja-shop" type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" required > 
                </div> 

                <div >
                    <div>
                    <label for="dirección"></label> Dirección
                    </div>
                    <input class="caja-shop" type="text" name="dirección" id="dirección" placeholder="Dirección" required> 
                </div> 

                <div class="direccion">
                    <div >
                        <div>
                        <label for="departamento"></label> Piso, departamento
                        </div>
                        <input class="caja-shop" type="text" name="departamento" id="departamento" placeholder="Piso, departamento" required> 
                    </div> 

                    <div >
                        <div>
                        <label for="localidad"></label> Localidad
                        </div>
                        <input class="caja-shop" type="text" name="localidad" id="localidad" placeholder="Localidad" required> 
                    </div> 

                    <div >
                        <div>
                        <label for="codigo-postal"></label> Código Postal
                        </div>
                        <input class="caja-shop" type="text" name="codigo-postal" id="codigo-postal" placeholder="Código Postal" required>
                    </div>
                </div>

                <div>
                    <label for="telefono"></label> Teléfono
                    </div>
                    <input class="caja-shop" type="number" name="telefono" id="telefono" placeholder="Teléfono" required>
                </div>

                <div>
                    <button class="boton-shop" type="submit">Continuar con el envío</button>
                </div>
            
            
            </div>
    </section>

    <section class="data-product">
        <article id="prod">
            <img src="/img/Surfboards/img_9758-1b.png" alt="producto">
            <p>Tabla Pipona</p>
            <p>U$525,00</p>
        </article>
        <article id="prod">
            <img src="/img/accesorios/Fins/pyzel_c_fins_bc8db4a4-7135-4dbc-afa2-af81f9c25f6a.webp" alt="producto">
            <p>Fin Pipon</p>
            <p>U$225,00</p>
        </article>
        <div class="recomendado-shop">
        <h5>Recomendado</h5>
            <article id="prod">
                <img src="/img/accesorios/LegRopes/01 FREEDOM HELIX ALL ROUND LEASH/fcs_legropes_freedom-helix-all-round_blue-black_a_1080x.webp" alt="producto">
                <p>Leg Ropres Pipon</p>
                <p>U$175,00</p>
            </article>    
        </div>


    </section>

    </main>

                <!-- <form class="search-box">
                <input type="text" placeholder="Buscar productos, marcas">
                <button class="magnifier" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form> -->
                <li><a href="/login"><span id="usuario-icon"><i class="fa-solid fa-user"></i></span></a></li>
                <li><a href="/productCart"><span id="carrito-icon"><i class="fa-solid fa-cart-shopping"></i></span></a>
                </li>
            </ul>
        </nav>
    </header>



    <main class="shop">
        <div class="shop-filters">
            <p>Acá podríamos poner algunos filtros?</p>
        </div>

        <h1 class="titulo-seccion-main">Accesorios</h1>
        <section class="contenedor-productos">
            <div class="producto-shop">
                <img src="/img/accesorios/LegRopes/08 FCS BIG WAVE ESSENTIAL LEASH/BLACK_LEASH_REG_RAIL_1200x_22130b4e-80b4-4d3b-bec6-73c95b26b96d_1080x.webp"
                    alt="Cafetera Moulinex">
                <div class="info-producto">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                </div>
                <p class="detalle-producto">Cafetera Moulinex</p>
            </div>

            <article class="producto-shop">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="info-producto">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                </div>
                <p class="detalle-producto">MacBook Pro 2019</p>
            </article>

            <article class="producto-shop">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="info-producto">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                </div>
                <p class="detalle-producto">Samsung Galaxy S10</p>
            </article>

            <article class="producto-shop">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class=" info-producto">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                </div>
                <p class="detalle-producto">SmartTv Samsung 43"</p>
            </article>
        </section>


        <br><br>
        
        
        <h1 class="titulo-seccion-main">Complementos</h1>
        <section class="contenedor-productos">
            <article class="producto-shop">
                <img src="/img/complementos/PapaHoe-complementos-gorra.jpg"
                    alt="Gorra PapaHoe">
                <div class="info-producto">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                </div>
                <p class="detalle-producto">Gorra Papa Hoe</p>
            </article>

            <article class="producto-shop">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="info-producto">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                </div>
                <p class="detalle-producto">MacBook Pro 2019</p>
            </article>

            <article class="producto-shop">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="info-producto">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                </div>
                <p class="detalle-producto">Samsung Galaxy S10</p>
            </article>

            <article class="producto-shop">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="info-producto">
                    <p class="precio">$23.200</p>
                    <p class="descuento"> 5% off</p>
                </div>
                <p class="detalle-producto">SmartTv Samsung 43"</p>
            </article>
        </section>
    </main>



    </main>





    <footer>
        <div class="grid-menu-footer">
            <div class="social-footer">

                <form class="suscripcion-box">
                    <label for="newsletter"></label>
                    <input id="newsletter" name="newsletter" type="email" placeholder="Unite a la tribu">
                    <button class="sobre" type="submit"><i class="fa-solid fa-envelope"></i></button>
                </form>

                <div class="iconos-social-footer">
                    <button class="instagram-footer" type="button"><i class="fa-brands fa-instagram"></i></button>
                    <button class="facebook-footer" type="button"><i class="fa-brands fa-facebook-f"></i></button>
                    <button class="youtube-footer" type="button"><i class="fa-brands fa-youtube"></i></button>
                    <button class="vimeo-footer" type="button"><i class="fa-brands fa-vimeo-v"></i></button>
                </div>

                <img class="detalles-design" src="/brand/PapaHoe-ELEMENTS-LosPuntitos.png" alt="PapaHoe Brand elements">

                <div class="copyright">
                    <img id="logo-footer" src="/brand/PapaHoe-logo-min-white.svg" alt="PapaHoe Logo">
                    Copyright © 2022 Papa Hoe
                </div>

            </div>

            <ul class="navegacion-footer">
                <li>
                    <h3>Papa Hoe</h3>
                </li>
                <a href="/about">
                <a href="#">
                    <li>About</li>
                </a>
                <a href="/about">
                    <li>Team Riders</li>
                </a>
                <a href="#">
                    <li>Contacto</li>
                </a>
                <a href="#">
                    <li>Privacidad</li>
                </a>
            </ul>

            <ul class="navegacion-footer">
                <li>
                    <h3>Ayuda</h3>
                </li>
                <a href="#">
                    <li>CustomBoard Tracker</li>
                </a>
                <a href="/volumeCalculator">
                    <li>Volume Calculator</li>
                </a>
                <a href="#">
                    <li>FAQ's</li>
                </a>
                <a href="#">
                    <li>Envíos y Devoluciones</li>
                </a>
                <a href="#">
                    <li>Términos y Condiciones</li>
                </a>
            </ul>

            <ul class="info-footer">
                <li>
                    <h3>Servicio al Cliente</h3>
                </li>
                <li>info@papahoe.com</li>
                <li>ARG +54 11 4395 859<br>MEX +52 00 4395 859</li>
                <li>
                    <h4>Surfboard Factory</h4>
                    Calle Cualca 27<br>Villa Gesell, Argentina?
                </li>
                <li>
                    <h4>DF Showroom</h4>
                    San Tlatelolco 123<br>Colonia Roma, DF
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>