<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa Hoe</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/a99dce3628.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <a id="logo" href="/"><img id="logo-img" src="/brand/LOGO-PapaHoe-LogoWord-Negativo.png" alt="PapaHoe Logo"></a>
        <nav class="main-navbar">
            <ul>
                <li><a href="/shop">Surfboards</a></li>
                <li><a href="/shop">Complementos</a></li>
                <li><a href="/boardBuilder">Board Builder</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <nav class="icons-navbar">
            <ul>
                <li><a href="#"><span id="lupa-icon"><i class="fa-solid fa-magnifying-glass"></i></span></a></li>
                <!-- <form class="search-box">
                <input type="text" placeholder="Buscar productos, marcas">
                <button class="magnifier" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form> -->
                <li><a href="/login"><span id="usuario-icon"><i class="fa-solid fa-user"></i></span></a></li>
                <li><a href="/productCart"><span id="carrito-icon"><i class="fa-solid fa-cart-shopping"></i></span></a>
                </li>
            </ul>
        </nav>
    </header>

    <header class="section-header">
        <img id="carrousel-image-1" src="./img/guille-pozzi-2xkAA5Ez_oU-unsplash.jpg" alt="PapaHoe foto1">
    </header>

    <main class="shop">
        <div class="shop-filters">
            <p>Acá podríamos poner algunos filtros?</p>
        </div>

        <h1 class="titulo-seccion-main accesorios">Accesorios</h1>
        <section class="contenedor-productos">
            <div class="producto-shop">
                <div class="imagen-producto">
                    <img src="/img/accesorios/LegRopes/01 FREEDOM HELIX ALL ROUND LEASH/fcs_legropes_freedom-helix-all-round_natural-black_a_1080x.webp"
                        alt="LegRope">
                </div>
                <div class="info-producto">
                    <h2 class="detalle-producto">FCS ALL ROUND ESSENTIAL LEASH - BLACK</h2>
                    <p class="precio">$6.770</p>
                </div>
            </div>

            <div class="producto-shop">
                <div class="imagen-producto">
                    <img src="/img/accesorios/LegRopes/02 SUPERLITE COMP LEASH/Creatures-Superlite-Comp-6-Carbon-Lime_1080x.webp"
                        alt="LegRope">
                </div>
                <div class="info-producto">
                    <h2 class="detalle-producto">FCS ALL ROUND ESSENTIAL LEASH - BLACK</h2>
                    <p class="precio">$6.770</p>
                </div>
            </div>

            <div class="producto-shop">
                <div class="imagen-producto">
                    <img src="/img/accesorios/LegRopes/08 FCS BIG WAVE ESSENTIAL LEASH/fcs_legropes_bigwave-essential_black_a_f7c9d21a-79eb-46c9-8434-6cdd8ad57223_1080x.webp"
                        alt="LegRope">
                </div>
                <div class="info-producto">
                    <h2 class="detalle-producto">FCS ALL ROUND ESSENTIAL LEASH - BLACK</h2>
                    <p class="precio">$6.770</p>
                </div>
            </div>

            <div class="producto-shop">
                <div class="imagen-producto">
                    <img src="/img/accesorios/LegRopes/05 FCS ALL ROUND ESSENTIAL LEASH/fcs_legropes_allround-essential_charcoal-blood-orange_a_1080x.webp"
                        alt="LegRope">
                </div>
                <div class="info-producto">
                    <h2 class="detalle-producto">FCS ALL ROUND ESSENTIAL LEASH - BLACK</h2>
                    <p class="precio">$6.770</p>
                </div>
            </div>

            <div class="producto-shop">
                <div class="imagen-producto">
                    <img src="/img/accesorios/LegRopes/05 FCS ALL ROUND ESSENTIAL LEASH/fcs_legropes_allround-essential_charcoal-blood-orange_a_1080x.webp"
                        alt="LegRope">
                </div>
                <div class="info-producto">
                    <h2 class="detalle-producto">FCS ALL ROUND ESSENTIAL LEASH - BLACK</h2>
                    <p class="precio">$6.770</p>
                </div>
            </div>

            <div class="producto-shop">
                <div class="imagen-producto">
                    <img src="/img/accesorios/LegRopes/05 FCS ALL ROUND ESSENTIAL LEASH/fcs_legropes_allround-essential_charcoal-blood-orange_a_1080x.webp"
                        alt="LegRope">
                </div>
                <div class="info-producto">
                    <h2 class="detalle-producto">FCS ALL ROUND ESSENTIAL LEASH - BLACK</h2>
                    <p class="precio">$6.770</p>
                </div>
            </div>
        </section>


        <h1 class="titulo-seccion-main complementos">Complementos</h1>
        <section class="contenedor-productos">
            <div class="producto-shop">
                <div class="imagen-producto">
                    <img src="/img/complementos/PapaHoe-complementos-gorra.jpg" alt="Gorra PapaHoe">
                </div>
                <div class="info-producto">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                </div>
                <p class="detalle-producto">Gorra Papa Hoe</p>
            </div>

            <div class="producto-shop">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="info-producto">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                </div>
                <p class="detalle-producto">Nombre Producto</p>
            </div>

            <div class="producto-shop">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="info-producto">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                </div>
                <p class="detalle-producto">Nombre Producto</p>
            </div>

            <div class="producto-shop">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="info-producto">
                    <p class="precio">$23.200</p>
                    <p class="descuento"> 5% off</p>
                </div>
                <p class="detalle-producto">Nombre Producto</p>
            </div>
        </section>
    </main>

    <footer>
        <div class="grid-menu-footer">
            <div class="social-footer">

                <form class="suscripcion-box">
                    <label for="newsletter"></label>
                    <input id="newsletter" name="newsletter" type="email" placeholder="Unite a la tribu">
                    <button class="sobre" type="submit"><i class="fa-solid fa-envelope"></i></button>
                </form>

                <div class="iconos-social-footer">
                    <button class="instagram-footer" type="button"><i class="fa-brands fa-instagram"></i></button>
                    <button class="facebook-footer" type="button"><i class="fa-brands fa-facebook-f"></i></button>
                    <button class="youtube-footer" type="button"><i class="fa-brands fa-youtube"></i></button>
                    <button class="vimeo-footer" type="button"><i class="fa-brands fa-vimeo-v"></i></button>
                </div>
            </div>

            <ul class="navegacion-footer">
                <li>
                    <h3>Ayuda</h3>
                </li>
                <li><a href="#">CustomBoard Tracker</a></li>
                <li><a href="/volumeCalculator">Volume Calculator</a></li>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Envíos y Devoluciones</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
            </ul>

            <ul class="navegacion-footer">
                <li>
                    <h3>Papa Hoe</h3>
                </li>
                <li><a href="/about">About</a></li>
                <li><a href="/about">Team Riders</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Privacidad</a></li>
            </ul>

            <ul class="info-footer">
                <li>
                    <h3>Servicio al Cliente</h3>
                </li>
                <li>info@papahoe.com</li>
                <li>ARG +54 11 4395 859<br>MEX +52 00 4395 859</li>
                <li>
                    <h4>Surfboard Factory</h4>
                    <p>Calle Cualca 27 <br>
                        Villa Gesell, Argentina</p>
                </li>
                <li>
                    <h4>DF Showroom</h4>
                    <p>San Tlatelolco 123 <br>
                        Colonia Roma, DF</p>
                </li>
            </ul>

            <div class="copyright">
                <img class="detalles-design" src="/brand/PapaHoe-ELEMENTS-LosPuntitos.png" alt="PapaHoe Brand elements">

                <img id="logo-footer" src="/brand/PapaHoe-logo-min-white.svg" alt="PapaHoe Logo">
                Copyright © 2022 Papa Hoe
            </div>
        </div>
    </footer>
</body>

</html>