<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa Hoe</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/a99dce3628.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <a id="logo" href="/"><img id="logo-img" src="/brand/LOGO-PapaHoe-LogoWord-Negativo.png" alt="PapaHoe Logo"></a>
        <nav class="main-navbar">
            <ul>
                <li><a href="/shop">Surfboards</a></li>
                <li><a href="/shop">Complementos</a></li>
                <li><a href="/boardBuilder">Board Builder</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <nav class="icons-navbar">
            <ul>
                <li><a href="#"><span id="lupa-icon"><i class="fa-solid fa-magnifying-glass"></i></span></a></li>
                <!-- <form class="search-box">
                <input type="text" placeholder="Buscar productos, marcas">
                <button class="magnifier" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form> -->
                <li><a href="/login"><span id="usuario-icon"><i class="fa-solid fa-user"></i></span></a></li>
                <li><a href="/productCart"><span id="carrito-icon"><i class="fa-solid fa-cart-shopping"></i></span></a>
                </li>
            </ul>
        </nav>
    </header>


    <main class="volume-calculator">

            <div class="title-calculator">
                <h1>Volume Calculator</h1>
                <h2>¿QUÉ TAMAÑO DE TABLA DEBO COMPRAR?</h2>
                <p>Descubrí cuál es la talla de tu tabla en función de tu perfil de surfista.</p>
            </div>
            <div class="form-calculator">
                <form action="/volumeCalculator" method="GET">
                    <div class="volume-container">
                        <label for="peso">Peso</label><br>
                        <datalist id="opciones-calculator">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </datalist>
                        <input type="range" min="15" max="150" value="0" step="50" id="peso" list="opciones-calculator"
                            name="peso">

                    </div>
                    <div>
                        <label for="altura">Altura</label><br>
                        <input id="altura" type="range" min="1" max="2" value="0" step="0.05" list="tickmarks"
                            name="altura">
                        <datalist id="tickmarks">
                        </datalist>
                    </div>
                    <div>
                        <label for="edad">Edad</label><br>
                        <input id="edad" type="range" min="10" max="70" value="0" step="1" list="tickmarks" name="edad">
                        <datalist id="tickmarks">

                        </datalist>
                    </div>
                    <div>
                        <label for="entrenamiento">Entreno</label><br>
                        <select name="entrenamiento" id="entrenamiento">
                            <option value="bajo">Mmmhhh</option>
                            <option value="medio">Podría entrenar más</option>
                            <option value="alto">Bastante</option>
                        </select>
                    </div>
                    <div>
                        <label for="frecuencia">Frecuencia</label><br>
                        <select name="frecuencia" id="frecuencia">
                            <option value="nunca">3/5 veces por semana</option>
                            <option value="mensualmente">1 vez por semana</option>
                            <option value="semanalmente">1/2 veces por mes</option>
                            <option value="diariamente">1/2 veces por año</option>
                        </select>
                    </div>
                    <div>
                        <label for="experiencia">experiencia</label><br>
                        <select name="experiencia" id="experiencia">
                            <option value="beginner">Beginner</option>
                            <option value="intermedio">Intermedio</option>
                            <option value="avanzado">Avanzado</option>
                            <option value="experto">Experto</option>
                        </select>
                    </div>
                    <button type="submit">Calculá mi talla</button>
                </form>

    </main>





    <footer>
        <div class="grid-menu-footer">
            <div class="social-footer">

                <form class="suscripcion-box">
                    <label for="newsletter"></label>
                    <input id="newsletter" name="newsletter" type="email" placeholder="Unite a la tribu">
                    <button class="sobre" type="submit"><i class="fa-solid fa-envelope"></i></button>
                </form>

                <div class="iconos-social-footer">
                    <button class="instagram-footer" type="button"><i class="fa-brands fa-instagram"></i></button>
                    <button class="facebook-footer" type="button"><i class="fa-brands fa-facebook-f"></i></button>
                    <button class="youtube-footer" type="button"><i class="fa-brands fa-youtube"></i></button>
                    <button class="vimeo-footer" type="button"><i class="fa-brands fa-vimeo-v"></i></button>
                </div>

                <img class="detalles-design" src="/brand/PapaHoe-ELEMENTS-LosPuntitos.png" alt="PapaHoe Brand elements">

                <div class="copyright">
                    <img id="logo-footer" src="/brand/PapaHoe-logo-min-white.svg" alt="PapaHoe Logo">
                    Copyright © 2022 Papa Hoe
                </div>

            </div>

            <ul class="navegacion-footer">
                <li>
                    <h3>Papa Hoe</h3>
                </li>
                <a href="/about"><li>About</li></a>
                <a href="/about"><li>Team Riders</li></a>
                <a href="#"><li>Contacto</li></a>
                <a href="#"><li>Privacidad</li></a>
            </ul>

            <ul class="navegacion-footer">
                <li>
                    <h3>Ayuda</h3>
                </li>
                <a href="#"><li>CustomBoard Tracker</li></a>
                <a href="/volumeCalculator"><li>Volume Calculator</li></a>
                <a href="#"><li>FAQ's</li></a>
                <a href="#"><li>Envíos y Devoluciones</li></a>
                <a href="#"><li>Términos y Condiciones</li></a>
            </ul>

            <ul class="info-footer">
                <li>
                    <h3>Servicio al Cliente</h3>
                </li>
                <li>info@papahoe.com</li>
                <li>ARG +54 11 4395 859<br>MEX +52 00 4395 859</li>
                <li>
                    <h4>Surfboard Factory</h4>
                    Calle Cualca 27<br>Villa Gesell, Argentina?
                </li>
                <li>
                    <h4>DF Showroom</h4>
                    San Tlatelolco 123<br>Colonia Roma, DF
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>