/* @media (min-width: 360px) {
    footer {
        color: #001728;
    }
}*/


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*---------------------------------------------
        HEADER
---------------------------------------------*/
header {
    background-color: #001728;
}
ul {
    list-style: none;
}
li {
    display: inline;
    margin: 20px 10px 20px 0;
}
#logo-header {
    display: block;
    height: 100px;
    padding: 20px;
}
i {
    color: #f4f5ec;
    padding: 20px;
}

/*---------------------------------------------
        MAIN
---------------------------------------------*/
main {
    padding: 20px;
}



/*---------------------------------------------
        FOOTER
---------------------------------------------*/
footer {
    padding: 20px;
    background-color: #fad6d1;
    border: 2px black solid;
    
}

/*
--------------------------------------------------------
Login / Register
------------------------------------------------------ */
main {
    border: 2px black solid;
    background-color: #8CD8D5;
}

.registro {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    margin: 5px 20px;
    padding: 5px 20px;
}

.titular {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}

.caja {
    border-radius: 5px;
    height: 30px;
    margin: 10px 0px;
    padding: 1px 10px;
    width: 250px;
}

.boton { 
    background-color: #335cb1;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #f4f5ec;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 1px 10px;
    position: relative;
    left: 30%;
}

.ingreso {
    text-align: center;
    margin: 20px;
}

.logo-ingreso {
    display: flex;
    justify-content: space-evenly;

}
.fa-facebook {
    background-color: #335cb1;
    color: white;
    padding: 5px;
    max-height: 25px;
    
}

.fa-google {
    background-color: white;
    color: black;
    padding: 5px;
    max-height: 25px;
}

/* .................. MEDIA QUERIES ...................
--------------------------------------------------------
Navegación en TABLETS (ancho mínimo 768px px)
------------------------------------------------------ */

@media (min-width: 768px) {
    footer {
        color: #001728;
    }
}

/*
--------------------------------------------------------
Navegación en DESKTOP (ancho mínimo 1200 px)
------------------------------------------------------ */

@media (min-width: 1200px) {
    footer {
        color: #001728;
    }
}

