/* COLORES
AZUL MARINO: #001728
AZUL TÉCNICO: #335cb1 
ROSA SUMMER: #fad6d1

SECUNDARIOS
Azul Técnico clarito: #4884ef
Verde agua: #8cd8d5
Arena Claro: #f8f8f3
Arena Medio: #f4f5ec
Arena Oscuro: #b3b1b3

ESCALA DE AZULES (del marino al arena)
#001728 <--- (azul marino)
#293c49
#516169
#7a868a
#a3abab
#cbd0cb
#f4f5ec  <--- (arena medio)

FAMILIAS TIPOGRÁFICAS
font-family: "Quicksand", sans-serif;
  font-family: "Bebas Neue", cursive;

*/



/*======================================================================
--------------------------- CLASES GENERALES ------------------------*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand", sans-serif;
  /* font-weight: 400; */
}

.hidden {
  display: none !important;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  background-color: #f7f7f7;
}

/* .container{
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px
} */

main {
  width: 100%;
  background: #f7f7f7;
  margin: auto;
}

main h1 {
  font-weight: 300;
  font-size: 35px;
  line-height: 32px;
  color: #001728;
  margin-bottom: 20px;
}

main h2 {
  letter-spacing: 0.02em;
  font-size: 16pt;
  line-height: 20px;
  color: #001728;
  font-family: "Bebas Neue", arial;
}

main p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 24px;
  color: #516169;
}

main li {
  text-decoration: none;
  list-style: none;
  margin-top: 10px;
}

/*----------------------------------------------------------------- */

.en-construccion {
  padding: 20vh 0;
  text-align: center;
  
}
.not-found {
  background: url(../images/stock/not-found.jpeg) center no-repeat, url(../images/stock/not-found.jpeg) center no-repeat;
  background-size: cover;
}
/*----------------------------------------------------------------- */

.section-header {
  margin: 0px;
  width: 100%;
  height: 300px;
  position: relative;
}

.section-header img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
  /* position: absolute; */
}

img.overlayImg {
  position: absolute;
  z-index: 90;
  object-position: 100% 50%;
  object-fit: contain;
  padding: 70px;
}

/*-------CLASE PARA LINKS CON FORMA DE BOTÓN IRREGULAR------------- */

a.button-link.arena {
  background-image: url(/images/brand/Fondito-Arena.svg);
}

a.button-link.azul-marino {
  background-image: url(/images/brand/Fondito-AzulMarino.svg);
  color: #f4f5ec !important;
}

a.button-link.azul-tecnico {
  background-image: url(/images/brand/Fondito-AzulTecnico.svg);
}

a.button-link.rosa {
  background-image: url(/images/brand/Fondito-RosaSummer.svg);
}

a.button-link {
  font-weight: 300;
  display: inline-block;
  padding: 10px;
  margin: 10px 10px 0 0;
  font-size: 16px;
  text-align: center;
  /* position: relative; */
  background-image: url(/images/brand/Fondito-Arena.svg);
  background-repeat: no-repeat;
  background-size: 100% 30px;
  background-position: center center;
  transition: all 1ms;
}

a.button-link:visited {
  color: #001728;
}

a.button-link:hover {
  filter: opacity(90%);
  background-blend-mode: hard-light;
  font-weight: 600;
}

a.button-link:active {
  color: #335cb1;
  transform: translateY(1.5px);
  font-weight: 600;
  font-size: 15.5px;
}

/* .button-link a:active {
    background: element(scaleX/-1);
} */

/*------------- BREADCRUM (BARRA DE NAVEGACIÓN DINÁMICA) ------*/


ul.breadcrumb {
  /* padding: 20px; */
  padding: 20px 0;
  width: 100%;
  margin-left: 40px;
  /* border-bottom: 1px solid #f9f9f9; */
}.productCart ul.breadcrumb {
  margin-left: 0px;
}

ul.breadcrumb li {
  display: inline;
  font-size: 12px;
  color: #b3b1b3;
}
ul.breadcrumb li + li:before {
  padding: 10px;
  content: "> ";
  color: #b3b1b3;
}
ul.breadcrumb li.active {
  color: #001728;
}
ul.breadcrumb li a:hover {
  color: #001728;
}


/*======================================================================*/
/*------------------------  HEADER -----------------------------------*/
/*======================================================================*/

.burger-menu {
  display: block;
  /* text-align: center; */
  /* padding: 0 30px; */
  flex-basis: 20%;
  justify-self: flex-start;
}

.icon-bg {
  /* background-color: rgba(0, 77, 170, 0.469); */
  height: 65px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-bars {
  font-size: 18px;
  color: white;
  justify-self: center;
}


.main-header {
  height: 70px;
  background-color: #001728;
  position: sticky;
  z-index: 100;
  top: 0px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-navbar {
  display: none;
}
.main-header ul {
  list-style: none;
  margin: 0px;
}

.main-header li {
  display: inline;
}

#logo {
  flex-basis: 150px;
  display: block;
}

#logo-img {
  width: 100%;
  padding: 12px 20px;
}


.icons-navbar {
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  display: none;
}

.icons-navbar ul {
  display: inline-block;
  margin-block-start: 0;
  margin-block-end: 0;
}

.icons-navbar a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 65px;
}

.icons-navbar i {
  color: #f4f5ec;
  padding: 0 20px;
}

#carrito-icon,
#usuario-icon,
#lupa-icon {
  display: inline-block;
  margin: 0px;
}

/* ----------------- SEARCHBOX ----------------------------*/

.search-box {
  display: inline;
}
.search-box form {
  display: inline-flex;
  justify-content: space-between;
  flex-shrink: 1;
  background-color: #fff;
  border: transparent;
  border-radius: 5px;
}

.search-box input {
  overflow: hidden;
  flex-basis: 10px;
  flex-grow: 1;
  background: transparent;
  font-size: 12px;
  padding: 8px;
  border: transparent;
}

.search-box input:focus {
  outline: none;
}

.search-box button[type="submit"] {
  flex-grow: 0;
  flex-shrink: 1;
  background-color: transparent;
  color: #222;
  margin-right: 5px;
  border: 0px solid #666;
}

.search-box button[type="submit"]:hover {
  color: #335cb1;
}

.search-box button[type="submit"]:active {
  transform: translateY(1px);
}
.search-box button[type="submit"] i {
  padding: 7px;
}


/*======================================================================
------------------------   MAIN HOME -----------------------------------
======================================================================*/
/* ----------------------- HOME SLIDER ---------------------*/

.main-home {
  padding: 0px;
}

header.slider {
  align-items: center;
  width: 100%;
  position: relative;
  height: 300px;
}

.slider-controller {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 20;
}

.slider-controller button {
  background-color: transparent;
  color: #f4f5ec;
  padding: 20px;
  border: 0px solid #666;
  font-size: 25px;
}

.overlay-text a.button-link {
  width: 120px;
}

.overlay-text {
  position: absolute;
  z-index: 30;
  left: 60px;
  top: 45%;
  font-size: 30px;
  line-height: 28px;
  color: #f4f5ec;
}

.slides {
  width: 100%;
}

.slides img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

/* ---------------- PRODUCTO DESTACADO ----------------------*/

.producto-destacado {
  display: grid;
  grid-template-areas:
    "foto box1"
    "foto box2";
  vertical-align: middle;
  padding: 20px;
  width: 100%;
}

.producto-destacado div {
  padding: 0 5px 0;
}

.contenedor-producto {
  grid-area: foto;
  width: 100%;
}

.contenedor-producto img {
  height: 350px;
  object-fit: cover;
  overflow: hidden;
  object-position: right 50% top 50%;
}

.producto-destacado .descripcion-producto {
  width: 100%;
  grid-area: box1;
  padding: 25px 20px 0;
}

.producto-destacado .descripcion-producto p {
  /* display: none; */
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
  color: #516169;
}

.producto-destacado .destacado-tabla {
  padding: 0 20px 0;
  grid-area: box2;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.producto-destacado .destacado-tabla p {
  display: block;
  width: 100vw;
  line-height: 20px;
}

/* ---------------- CATEGORÍAS PRODUCTOS ---------------------*/

.categorias-home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.categorias-image {
  width: 100%;
  height: 360px;
  flex-grow: 2;
  margin: 4px 0;
  position: relative;
}

.categorias-image img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: center center;
}

.categorias-image a {
  background-color: transparent;
  font-family: "Bebas Neue", cursive;
  color: #f4f5ec;
  padding: 5px;
  border: 0px solid #666;
  font-size: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 450ms;
}

.categorias-image a:hover {
  background-color: #00172843;
}

.main-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

/* ------------------MODEL FINDER -----------------------*/
.model-finder {
  width: 100%;
  height: 300px;
  background-color: #fad6d1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.model-finder::after {
  content: " ";
  position: absolute;
  display: block;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 30%;
  background-color: #fad6d1;
  background-image: url(/images/stock/surfboard-construction.jpg);
  background-repeat: no-repeat;
  background-position-x: 60vw;
  background-size: auto 100%;
  background-blend-mode: screen;
}

.model-finder .descripcion {
  padding: 30px 0 0 40px;
  flex-basis: 80%;
  align-self: flex-start;
  position: relative;
  z-index: 10;
}

.model-finder #crea,
.model-finder #explora {
  width: 100px;
}

.contenedor-linea {
  width: 200px;
  position: absolute;
  z-index: 90;
  bottom: 20px;
  right: 0px;
  overflow: hidden;
}
.model-finder #la-linea {
  width: 100%;
  position: relative;
  right: -30px;
}

.imagen-model-finder {
  /* display: none; */
  flex-basis: 20%;
  position: relative;
  z-index: 10;
}

/* --------------- VOLUME CALCULATOR HOME ----------------*/

.volume-calculator {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding: 30px 25px 30px 40px;
}

.title-calculator {
  flex-basis: 100%;
  align-self: flex-start;
}

.form-calculator {
  flex-basis: 100%;
  align-self: center;
  padding: 40px;
}

.form-calculator div {
  padding: 0;
  display: block;
  width: 100%;
  max-width: 410px;
  margin-bottom: 5px;
}

.form-calculator select,
.form-calculator input {
  width: 100%;
}

.form-calculator button {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  background-color: #fad6d1;
}

.volume-container {
  position: relative;
  overflow: hidden;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: white;
  border: 0.5px solid #516169;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 10px;
  border-radius: 10px;
  background: #fad6d1;
  /* box-shadow: -40px 0 0 #fad6d1, -85px 0 0 #fad6d1, -130px 0 0 #fad6d1,
      -175px 0 0 #fad6d1, -220px 0 0 #fad6d1, -265px 0 0 #fad6d1, -310px 0 0 #fad6d1,
      -350px 0 0 #fad6d1, -390px 0 0 #fad6d1, -409px 0 0 #fad6d1; */
}

input[type="range"]::-moz-range-progress {
  background-color: green;
  height: 1em;
}

/*---------------------------------------------
        MAIN: CUSTOM BOARD
---------------------------------------------*/
#main-builder {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
}

#content {
  height: 500px;
  width: 40%;
  position: relative;
  /* left: 7%; */
  top: 60px;
  /* top: calc(50% - 250px); */
}

#content h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  color: #001728;
}

#content p {
  font-size: 20px;
  color: grey;
}

#content button {
  width: 35%;
  height: 40px;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 5vh;
  margin-left: center;
  border: none;
  outline: none;
  border-radius: 20px;
  background: #335cb1;
  color: white;
}

#content button:hover {
  background: #001728;
}

#tabla {
  height: 600px;
  width: 40%;
  position: relative;
  /* top: calc(50% - 250px); */
  /* right: 7%; */
  top: 60px;
}

#tabla model-viewer {
  height: 600px;
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
}

/*--------------------------------------------------
      MAIN: SHOP (surfboards y complementos)
----------------------------------------------------*/
.shop {
  padding-bottom: 40px;
}
.shop-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #fad6d1;
  /* padding: 10px; */
  margin-top: 0px;
  position: sticky;
  z-index: 90;
  top: 65px;
}
.shop-filters .admin {
  background-color: #8cd8d5
}

.shop-filters p {
  /* font-size: 12pt; */
  color: #666;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 0px;
  letter-spacing: 0.5pt;
}
.shop .titulo-seccion-main {
  /* color: #666; */
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.contenedor-productos {
  margin: auto;
  margin-left: 5px;
  /* padding-top: 40px; */
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: flex-start
}

.producto-shop {
  display: flex;
  flex-wrap: wrap;
  padding: 4% 4%;
  flex-grow: 1;
  flex-basis: 100%;
  max-width: 100%;
  position: relative;
}

.shop .shop-wraper-img {
  align-self: flex-start;
}

.shop .shop-wraper-info {
  align-self: flex-end;
  width: 100%;
  margin-top: 10px;
}


.imagen-producto {
  width: 100%;
  transition: all 200ms;
  transition-timing-function: ease-out;
  overflow: hidden;
}

.imagen-producto:hover {
  transform: scale(1.05);
  overflow: hidden;
}

.imagen-producto img {
  width: auto;
  object-fit: contain;
}
.complementos-img {
  aspect-ratio: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen-producto img {
  max-height: 100% !important;
  min-height: -webkit-fill-available !important;
  min-block-size: -webkit-fill-available !important;
  object-fit: cover;
}

.shop .detalle-producto {
  margin: 10px 0;
  flex-grow: 0.3;
  width: 100%;
}
.shop .detalle-producto h2 {
  font-size: 20px;
  line-height: 20px;
}
.shop .detalle-producto p {
  margin-top: 3px;
  }

.shop .info-producto {
  display: flex;
  justify-content: flex-start;
  padding: 5px 0;
  margin-top: 10px;
  margin-top: auto;
  border-top: 1px solid #ebebeb;
  line-height: 12px;
  position: relative;
}
.shop .info-producto .precio {
  margin-right: 10px;
  font-size: 14px;
  line-height: 20px;
  flex-basis: 0.3;
}
.shop .info-producto .descuento {
  display: none;
}
.shop .info-producto .compare {
  color: #335cb1;
  font-size: 18px;
  line-height: 20px;
  flex-grow: 0;
  position: absolute;
  right: 0px;
  z-index: 50;
}


/* -------------------------------------------
       PRODUCT DETAIL
---------------------------------------------*/

.main-container {
  width: 100%;
  padding: 30px 0;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  position: relative;
}
/* .productDetail {
  padding: 30px;
} */
.productDetail .left-wrapper {
  width: 100%;
  padding: 0 20px;
}

.left-wrapper .img-slider {
  height: 80vh;
  width: 100%;
  position: sticky;
  z-index: 80;
  top: 145px;
  text-align: center;
  /* padding: 20px; */
}
.left-wrapper .img-slider img {
/* mix-blend-mode: multiply; */
height: 100%;
/* width: 100%; */
object-fit: contain;
object-position: 0 0;
}

.right-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  padding: 0 4%;
}
.product-header {
  width: 100%;
  border-bottom: 1px solid #fad6d1;
}
.product-header h2 {
  font-size: 20px;
  color: #001728be;
}
.product-header h1 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.5pt;
  font-size: 40px;
  line-height: 50px;
  margin: 0;
}
.product-header p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 100;
  margin: 0;
  margin-bottom: 20px;
  color: #7a7a7a
}

.product-detail-form {
  width: 50%;
  flex-grow: 1;
  margin-right: 30px;
}
.product-detail-form .opciones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  padding: 20px 0 0;
}

.product-detail-form .opciones > div {
  padding: 0 0 20px 0 ;
  width: 100%;
}
.product-detail-form .opciones select {
  font-size: 15px;
  font-family: "BebasNeue";
  letter-spacing: 0.5pt;
  color: #001728;
  padding: 10px;
  width: 100%;
  height: 45px;
  border: 1px solid #fad6d1;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
}
/* #cantidad {
  margin-top: 20px;
  margin-bottom: 20px;
}
#cantidad span {
  background-color: #e287c4;
  padding: 2px 9px;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  vertical-align: middle;
}
#cantidad input {
  width: 43px;
  padding: 7px;
  text-align: center;
  border: 0;
  display: inline-block;
} */
.product-detail-form input.boton {
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  letter-spacing: 1pt;
  background-color: #001728;
  color: white;
  border: 0;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
}

.product-summary {
  width: 40%;
  padding: 20px;
  margin: 20px 0 0;
  border-radius: 3px;
  background-color: #fff;
  font-size: 14px;
}
.product-summary ul {
  margin-bottom: 20px;
}
/* ------------------------------------------------------*/

.productDetail .descripcion {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #fad6d1;
}
.productDetail .caracteristicas li {
  font-size: 14px;
  line-height: 30px;
}

.mas-informacion {
  position: relative;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 20px;
  size: 80%;
}

.related-products {
  padding: 30px;
  padding-bottom: 60px;
}

/*
--------------------------------------------------------
    MAIN Login
------------------------------------------------------ */

.login-register {
  width: 95%;
  min-height: 85vh;
  margin: auto;
  padding: 50px 20px;
  text-align: center;

}
.login-register h2 {
  padding: 30px 0 60px;
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
}
.login-img {
  display: none;
  position: absolute;
  z-index: 90;
  width: 300px;
  right: 0px;
  top: 140px;
  overflow: hidden;
}
.login-img img {
  width: 100%;
  position: relative;
  right: -100px;
}

.auth-error-message p {
  margin: 20px 0;
  padding: 10px;
  color: #f58172;
  background-color: hsla(7, 80%, 90%, 0.5);
  border: 1px solid #f58172;
  font-weight: 600;
}

.under {
  color: #ff5d48;
  padding: 5px 20px;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.formulario form{
  width: 100%;
}

.form-input {
  display: flex;
  flex-wrap: wrap;
/* NATS: SI ALGO ESTÁ ROTO, HABILITAR ESTO y LABEL: WIDTH 100%!!! */
  /* justify-content: space-between; */
  align-items: baseline;
  width: 100%;
  font-size: 14px;
  text-align: left;
}
/* 
.multiSelect input{
height: 20px;
width: auto;
} */

.form-input a {
  display: inline;
  font-size: 12px;
  font-weight: 400;
  color: #293c49;
}
.form-input input {
  border-radius: 2px;
  height: 45px;
  margin: 4px 0 20px 0;
  padding: 1px 10px;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.4); */
  border: #b3b1b3 solid 0.5px;
}

.form-input.nombre,
.form-input.apellido {
  display: inline-block;
  width: 49%;
}

button.submit-button {
  height: 50px;
  border: 1px solid transparent;
  border-radius: 2px;
  margin: 15px 0px;
  padding: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #001728;
  color: #f4f5ec;
  width: 100%;
}
.submit-button {
  width: 100%;
}
.submit-button button:hover {
  font-weight: 700;
}
.login-redirect p {
  margin-top: 10px;
  font-weight: 400;
}
.login-redirect a {
  font-stretch: expanded;
  border-bottom: transparent solid 1px;
  transition: all 150ms;
}
.login-redirect a:hover {
  padding: 2px 30px;
  font-weight: 700;
  color: #335cb1;
  border-bottom: #001728 solid 1px;
}

.errors {
  font-size: 12px;
  font-weight: 400;
  color: red;
}

.login-register .error-input {
  display: none;
};

.login-register .error-input-activo {
  display: block;
};

.login-register #email-icono,
#password-icono {
  position: relative;
};

.login-register .form-validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 35px;
  z-index: 100;
  opacity: 0
};  

/* Estilos validaciones*/
.login-register .form-input-correcto .form-validacion-estado {
  color: green;
  opacity: 1;
};

.login-register .form-input-incorrecto .form-label{
  color: red;
};

.login-register .form-input-incorrecto .form-validacion-estado {
  color: red;
  opacity: 1;
};

.login-register .form-input-incorrecto input {
  border: red solid 2px;
};

.input-mensaje-error {
  display: none;
};



/*--------------------------------------------------------
    MAIN Register
------------------------------------------------------ */

.register {
  padding: 10px 0;
  width: 100%;
}

.register .form-input input,
.productCreate .form-input input {
  border-style: none;
  background-blend-mode: multiply;
  background-color: rgba(0, 23, 40, 0.03);
}
.register .form-input input.is-invalid {
  border:1px solid #42469d ;
}

.form-input.prod-descuento {
  flex-wrap: nowrap;
  align-items: center;
  background-color: #b3b1b3;
  padding: 0;
  margin: 40px 0 0px 0;
  border-radius: 2px;
  height: 60px;
}

.form-input.prod-descuento label {
  color: white;
  width: 50%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5pt;
  padding: 20px;
}

.form-input.prod-descuento input[type="number" i]{
  width: 48%;
  height: 40px;
  margin: 0;
  background-color: #f7f8f8db;
  padding: 15px;
}
.checkbox {
  display: flex;
  width: 100%;
}
.checkbox .opciones {
  margin: 20px 0 4px 0;
  width: 50%;
  flex-grow: 1;
  line-height: 20pt;
}

.form-input.prod-descuento input[type="number" i]::placeholder {
  color: black;
}
.form-input.prod-descuento input[type="checkbox" i]{
  height: 14px;
  width: 12%;
  padding: 0;
  margin: 0;
}

.datos-section {
  width: 100%;
}
.datos-section h4 {
  text-align: left;
  margin: 20px 0;
}

.form-1col,
.form-2col,
.form-3col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.form-1col {
  padding: 15px;
}
.form-1col p,
.form-2col p,
.form-3col p, label {
  margin-top: 0;
  line-height: initial;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  /* width: 100%; */
  padding: 5px 0;
}
/* .form-1col div {
  width: 100%;
} */
.form-2col div {
  width: 49%;
}
.form-3col div {
  width: 32%;
}

.form-1col div.sub-col1 {
  /* width: 20%; */
  flex-grow: 0;
  margin: 0 30px 0 0;
}
.form-1col div.sub-col2 {
  /* width: 50%; */
  flex-grow: 1;
  margin: 0 30px 0 0;
}
.form-1col div.sub-col3 {
  /* width: 20%; */
  flex-grow: 0;
  text-align: end;
}

.register button.submit-button {
  height: 50px;
  border: 1px solid transparent;
  border-radius: 2px;
  margin: 0;
  margin-top: 15px;
  padding: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #001728;
  color: #f4f5ec;
  width: 100%;
}
  /* 
  input#avatar {
    background-color: #001728;
  } */
input[type="file" i] {
  background-color: #001728;
}

.errores{
  color:#42469d;
  font-weight: bold;
}
/*
--------------------------------------------------------
    MAIN ProductCart
------------------------------------------------------ */
.productCart {
  width: 100%;
}
.productCart .contenedor {
  padding: 20px 60px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* padding-bottom: 140px; */
  position: relative;
  background-color: white;
}
.productCart .title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  /* padding: 30px 0; */
  border-bottom: 1px solid #b3b1b3;
}
.productCart .cartItems {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* padding-top: 30px; */
  padding: 0 15px 0 0;
  /* border-bottom: 1px solid #b3b1b3; */
}
.cartItems .item {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-grow: 0;
  padding: 30px 0;
  justify-content: left;
  align-items: center;
  border-bottom: 0.5px solid #e1e8ee;
}
.item .image {
  display: flex;
  /* flex-shrink: 0; */
  justify-content: center;
  height: 80px;
  aspect-ratio: 1;
  object-fit: contain;
  overflow: hidden;
  background-color: #fff;
  margin-right: 15px;
}
.item .image img {
  height: 80;
  /* width: 100px; */
}
.cartItems .description {
  margin-right: 15px;
  flex-grow: 1;
}
.cartItems .description p,
.productCart .price p {
  font-size: 16px;
  color: #43484d;
}
.cartItems .description p:last-child {
  margin-top: 8px;
  color: #86939e;
  font-size: 10pt;
  line-height: 14pt;
}

.productCart .price {
justify-self: flex-end;
justify-self: right;
/* flex-grow: 1; */
text-align: right;
}
.item .buttons {
  padding: 30px;
}
.productCart .summary {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0px;
  right: 0px;
  padding: 40px;
  background-color: #f7f7f7;
}


.quantity {
  display: flex;
  flex-wrap: nowrap;
  width: 15%;
  height: 30px;
  margin-right: 30px;
  justify-self: center;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  /* border-radius: 5px; */
  text-align: center;
  width: 45px;
  font-size: 16px;
  line-height: 30px;
  color: #43484d;
  /* background-color: transparent; */
  font-weight: 600;
}

button[class*="btn"] {
  width: 30px;
  height: 30px;
  color: #43484d;
  background-color: transparent;
  /* background-color: #fad6d1; */
  border-radius: 6px;
  border: none;
  cursor: pointer;
  padding: 0 6px;
}
button:focus,
input:focus {
  outline: 0;
}



.radio-dropdown {
  background-color: #f7f7f7;
  padding: 30px;
  justify-content: left;
}
.giftcard {
  border-radius: 2px;
  height: 35px;
  margin: 10px 0px;
  padding: 1px 10px;
  width: 100%;
  border: #001728 solid 1px;
}

.direccion-envio {
  margin: 20px 0px;
  padding: 20px 0px;
}

.direccion-envio h2 {
  margin-bottom: 20px;
}

.productCart .direccion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

article {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

#prod i {
  padding-left: 10px;
}

.cart-product #prod img {
  width: 10vw;
}

.cart-product .mostrar {
  display: flex;
  justify-content: space-around;
}

.cart-product .ocultar {
  display: none;
}

.boton-shop {
  background-color: #335cb1;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #f4f5ec;
  width: 50%;
  height: 35px;
  border-radius: 5px;
  margin: 15px 0px;
  padding: 1px 10px;
}

.productCart .giftCard {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
}

.cart-product .boton {
  background-color: #fad6d1;
  color: black;
}

/*
--------------------------------------------------------
    MAIN ProductCart2
------------------------------------------------------ */
main.shopify-checkout-shipping {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
  border-left: solid 2px #dcdfe3;
  padding: 20px;
}

.shopify-checkout-shipping .resaltar {
  font-weight: bold;
  text-decoration: underline;
}

.division {
  border-bottom: #ebebeb solid 1px;
}


.shopify-checkout-shipping .boton-envio {
  background-color: #335cb1;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #f4f5ec;
  width: 50%;
  height: 35px;
  border-radius: 5px;
  margin: 15px 0px;
  padding: 1px 10px;
  right: 15%;
}

.shopify-checkout-shipping .giftCard {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
}

.shopify-checkout-shipping .importes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*
--------------------------------------------------------
    MAIN ProductCart3
------------------------------------------------------ */

.form-group {
  border: 1px solid #dcdfe3;
  border-radius: 5px;
}


/*---------------------------------------------
        VOLUME CALCULATOR VIEW
---------------------------------------------*/

.volume-calculator-view {
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-calculator-view {
  flex-basis: 100%;
  align-self: center;
  text-align: center;
  margin-bottom: 40px;
}

.form-calculator-view {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.volume-container-view {
  padding: 0;
  width: 100%;
  max-width: 410px;
  margin: 5px;
}

.volume-calculator-view button {
  display: block;
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #fad6d1;
  margin: auto;
  margin-top: 40px;
}

/* .volume-container {
    position: relative;
    overflow: hidden;
} */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: white;
  border: 0.5px solid #516169;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 10px;
  border-radius: 10px;
  background: #fad6d1;
  /* box-shadow: -40px 0 0 #fad6d1, -85px 0 0 #fad6d1, -130px 0 0 #fad6d1,
      -175px 0 0 #fad6d1, -220px 0 0 #fad6d1, -265px 0 0 #fad6d1, -310px 0 0 #fad6d1,
      -350px 0 0 #fad6d1, -390px 0 0 #fad6d1, -409px 0 0 #fad6d1; */
}

input[type="range"]::-moz-range-progress {
  background-color: green;
  height: 1em;
}

.result-calculator {
  margin-top: 40px;
  padding: 60px;
  padding-bottom: 140px;
  width: 100%;
  background-color: #fff;
}

.result-calculator h1,
.result-calculator h2 {
  margin-bottom: 40px;
}
.result-calculator p {
  width: 75%;
  text-align: left;
  margin: auto;
  font-size: 16px;
  line-height: 24px;
}

/*---------------------------------------------
        MAIN CONTROLLER VIEWS
---------------------------------------------*/

.faqs,
.devoluciones,
.privacy,
.team,
.about {
  width: 80%;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 30px;
}

.faqs h2,
.devoluciones h2,
.privacy h2,
.team,
.about h2 {
    /* margin-left: 20px; */
    font-size: 22pt;
    margin-bottom: 20px;
}

.faqs h3,
.devoluciones h3,
.privacy h3,
.team,
.about h3 {
    margin-top: 60px;
    margin-bottom: 10px;
}

.devoluciones li {
  list-style: disc inside;
  margin-left: 50px;
  margin-bottom: 20px;
  color: #516169;
}
.devoluciones li > ul li {
  list-style: none;
  margin-bottom: 0px;
}

.bodytrack {
  min-height: 50vh;
  font-size: 14px;
  color:#293c49; 
  background: #eee; 
}

.tracker-content {
  background-color: #42469d;
  border-color: #42469d;
  border-radius: 1rem;
}

.blockText {
  width: 100%;
  padding: 50px 0;
  padding-bottom: 60px;
}

/*======================================================================*/
/*------------------------  ADMIN SECTION:--------------------------------*/
/*======================================================================*/

/* -------------------  EDIT USER PROFILE --------------------------*/

.productCreate,
.profileRegister,
.profileEdit,
.profile {
  width: 100%;
  padding: 50px 0;
  padding-bottom: 60px;
}

.productCreate .main-container,
.profileRegister .main-container,
.profileEdit .main-container,
.profile .main-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
}

.profile a.button-link {
  font-size: 14px;
}

.productCreate h2,
.profileRegister h2,
.profileEdit h2,
.profile h2 {
  margin-left: 20px;
  font-size: 22pt;
}

.wrapper-Col-66,
.wrapper-Col-33 {
  /* margin: 10px; */
  margin-bottom: 20px;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.wrapper-Col-33 h2,
.wrapper-Col-66 h2 {
  font-size: 20pt;
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  margin-left: 0;
  margin-bottom: 30px;
  width: 100%;
}

.wrapper-Col-33 .img-slider {
  /* width: 25%; */
  text-align: left;
  padding: 0px;
  padding-right: 30px;
  display: none;
}
.wrapper-Col-33 .img-slider img {
height: 100%;
max-width: 200px;
object-fit: contain;
object-position: 0 0;
}

.history-items {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid pink;
}
.history-items .img-slider {
  width: 25%;
  text-align: center;
  overflow: hidden;
  padding-right: 20px;
}
.history-items .img-slider img {
  width: 110px;
}
.history-items .prod-info-list p {
  margin: 0px;
}
.history-items .edit-buttons {
  display: inline-block;
  /* width: 16%; */
}


/* ---------- CREATE NEW PRODUCT -----------------------------*/

.productCreate .opciones > div {
  padding: 0 0 200px 0 ;
  width: 100%;  
}
.productCreate .opciones textarea,
.productCreate .opciones select {
  /* font-weight: 500; */
  color: #001728;
  padding: 10px;
  width: 100%;
  height: 45px;
  border: 0px solid #fad6d1;
  border-radius: 3px;
  background-color: rgba(0, 23, 40, 0.03);
  margin: 4px 0 20px 0
}
.productCreate .opciones textarea {
  resize: none;
  height: auto;
  height: auto;
  padding-right: 45px;
}
.productCreate .opciones select {
  appearance: unset;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 16px;
}
.productCreate .opciones select:invalid,
select option[value=""] {
  color: rgba(118, 118, 118, 0.5);
  font-weight: 400;
}

.form-5col {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin: 5px 0 30px 0;
  position: relative;
}

.productCreate .form-5col div,
.productCreate .form-5col input {
  flex-direction: column;
  width: 100%;
  aspect-ratio: auto 1 / 1 !important;
  overflow: hidden;

}

.productCreate .form-input .prodImg {
  width: 19%;
  background-image: url(../assets/uploadFIle.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  position: relative;
  border-radius: 5px
}

.productCreate .form-input .prodImg:focus-within{
  border : 1.5px solid rgba(0, 23, 40, 0.2);
  border-radius: 5px;
}
.productCreate #priceCurrency {
  position: absolute;
  top: 10%;
  left: 1%;
  /* width: 85%; */
  height: 38px;
  padding: 10px;
  /* background-color: #f7f8f8; */
  /* color: #b3b1b3; */
  opacity: 0%;
}
div.secretInput {
  width: 100%;
  position: relative;
} 

/* ------------------------------------------------------*/


/*---------------------------------------------
        FOOTER
---------------------------------------------*/
footer {
  background-color: #001728;
  color: #f4f5ec;
}

footer li {
  text-align: center;
}

.grid-menu-footer {
  padding: 30px 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-footer {
  width: 100%;
  position: relative;
}

.suscripcion-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #f4f5ec;
  margin-bottom: 20px;
}

.suscripcion-box input {
  background: transparent;
  border: none;
  height: 30px;
  padding: 8px;
  color: #f4f5ec;
  width: 90%;
  overflow: hidden;
}

textarea::placeholder,
input::placeholder {
  color: #b3b1b3;
}

.suscripcion-box button[type="submit"] {
  background-color: transparent;
  color: #f4f5ec;
  padding: 5px;
  border: 0px solid #666;
  font-size: 18px;
}

.suscripcion-box button[type="submit"]:hover {
  color: #335cb1;
}

.suscripcion-box button[type="submit"]:active {
  transform: translateY(1px);
}

.suscripcion-box input:focus {
  outline: none;
}

.iconos-social-footer {
  border-bottom: 1px solid #f4f5ec;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

.iconos-social-footer button {
  background-color: transparent;
  color: #f4f5ec;
  padding: 8px;
  border: 0px solid #666;
  font-size: 18px;
}

.iconos-social-footer button:hover {
  color: #335cb1;
}

.iconos-social-footer button:active {
  transform: translateY(1px);
}

.navegacion-footer,
.info-footer {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
}

.navegacion-footer li,
.info-footer li {
  display: block;
  list-style: none;
  margin-top: 10px;
}

.copyright {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 95px; */
  font-size: 10px;
  font-weight: 700;
  color: #f4f5ec;
  position: relative;
  bottom: 0;
  z-index: 10;
}

#logo-footer {
  width: 20px;
  margin: 0 10px 0 0;
}

.detalles-design {
  width: 120px;
  position: absolute;
  z-index: 0;
}

img.detalles-design {
  left: -55px;
  bottom: 300px;
  transform: rotate(170deg);
}



/* ................................ JAVASCRIPT ......................................
----------------------------------------------------------------------------------------
                              CLASSLIST.ADD CLASSES
----------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------  */

.is-invalid {
  display: inline;
  font-size: 12px;
  font-weight: 400;
  color: red;
}

span.errMsg {
  color: #ff5d48;
  padding: 5px 20px 5px 0;
  display: inline-block;
  margin-left: 10px;
}

.form-input div.invalid-input,
.form-input input.invalid-input,
.productCreate .opciones textarea.invalid-input,
.productCreate .opciones select.invalid-input {
  background-color: #fad6d180;
  border: 1px solid #f58172;
}

.form-input div.valid-input,
.productCreate .opciones select.valid-input,
.productCreate .opciones textarea.valid-input,
.form-input input.valid-input {
  background-color: #8cd8d50c;
  border: 1px solid #8cd8d5;
}
.productCreate .opciones textarea.valid-input,
.form-input input.valid-input {
  background-image: url("/assets/check-mark.svg");
  background-repeat: no-repeat;
  background-position: right .75rem top 12px;
  background-size: 20px 20px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
input.visually-hidden:is(:focus, :focus-within) + label {
  outline: thin dotted;
}
.labelImg{
  height: -webkit-fill-available;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  z-index: 15;
}

#imgPreview {
  position: absolute;
  text-align: center;
  border-radius: 5px;
}
#imgPreview img {
  max-width: fit-content;
  height: 100%;
}

.cancelCross{
  padding: 1px 4px;
  position: absolute;
  color: white;
  top: 4px;
  right: 4px;
  margin: 0;
  font-size: 10pt;
  line-height: 10pt;
  background-color: #001728;
  border-radius: 50%;
  z-index: 90;
  display: none;
}


/* ................................ MEDIA QUERIES ......................................
----------------------------------------------------------------------------------------
                  Navegación en TABLETS (ancho mínimo 768px px)
----------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------  */

@media (min-width: 768px) {
  a.button-link {
    font-size: 20px;
  }
  
  a.button-link:active {
    font-size: 20px;
  }
  
/*--------------------------------- HEADER ---------------------------------
---------------------------------------------------------------------------*/

  .main-header {
    flex-direction: row;
  }
  
  .burger-menu {
    display: none;
    justify-self: flex-end;
}

  .main-navbar {
    display: flex;
    justify-content: center;
    flex-grow: 0.7;
  }
  .main-navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .main-navbar a {
    line-height: 60px;
    color: white;
    letter-spacing: 0.05em;
    font-size: 0.85em;
    font-weight: 500;
    margin-right: 25px;
  }
  
    .icons-navbar {
      display: flex;
    }
    .nav-link {
      letter-spacing: 0.05em;
      font-size: 1.0em;
      /* font-weight: 500; */
      /* margin-right: 25px; */
    }
  
/* ----------------------------- HOME -------------------------------------
---------------------------------------------------------------------------*/

  header.slider {
    height: 500px;
  }

  .slides img {
    height: 500px;
  }

  .overlay-text {
    left: 60px;
    font-size: 50px;
    line-height: 45px;
  }
  /* -------------------------------------------------------*/

  .producto-destacado {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }

  .contenedor-producto {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 400px;
  }

  .producto-destacado div {
    padding: 0 10px;
  }

  .contenedor-producto img {
    height: 400px;
    width: 250px;
    object-fit: cover;
    overflow: hidden;
    object-position: right 50% top 50%;
  }

  .producto-destacado .descripcion-producto {
    width: 33%;
    padding: 0px;
  }

  .producto-destacado .destacado-tabla p {
    display: block;
    width: 20vw;
    line-height: 20px;
    padding: 20px;
  }

  /* -------------------------------------------------------*/

  .categorias-home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .categorias-image {
    width: 30%;
    height: 300px;
    flex-grow: 1;
    margin: 0;
  }

  .categorias-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center center;
  }

  .categorias-image button {
    width: 100%;
    height: 100%;
  }

  /* -------------------------------------------------------*/

  .model-finder {
    height: 350px;
  }

  .model-finder .descripcion {
    padding: 40px 60px;
    flex-basis: 80%;
  }

  .model-finder p {
    width: 40%;
  }
  .contenedor-linea {
    bottom: 40px;
  }

  /* ------------------------------------------------------*/

  .volume-calculator div {
    padding: 10px 20px;
  }

  .title-calculator {
    flex-basis: 50%;
    align-self: flex-start;
  }

  .form-calculator {
    flex-basis: 50%;
  }

  .form-calculator div {
    padding: 0;
  }

  /* ----------------------------- LOGIN -------------------------------*/
  /* ---------------------------------------------------------------------*/
  .form-title {
    width: 60%;
  }
  .login-register {
    width: 60%;
  }
  /* .register .login-register {
    width: 60%;
  } */
  .login-img {
    display: block;
  }

  /* ---------------------- SHOP -----------------------------*/

.contenedor-productos {
    justify-content: flex-start;
    margin-left: 20px;
  }
  
.producto-shop {
    padding: 2% 2%;
    flex-grow: 0;
    flex-basis: 33%;
    max-width: 33%;
  }
  .shop .titulo-seccion-main {
    margin-top: 30px;
  }
  .shop .info-producto .precio {
    font-size: 18px;
  }
  .shop .info-producto .descuento {
    display: initial;
  }

    /* ------------------- PRODUCT DETAIL ---------------------------*/
  
    .productDetail .left-wrapper {
      width: 45%;
    }
    .productDetail .right-wrapper {
      width: 55%;
    }

    .product-detail-form {
      width: 100%;
      /* flex-grow: 1; */
      margin-right: 0px;
    }
    .product-summary {
      width: 100%;
    }
    
    /* ------------------- USER PROFILE ---------------------------*/
  
    .productCreate,
    .profileRegister,
    .profileEdit,
    .profile {
      padding: 50px 5%;
      max-width: 1200px;
    }
    
    .productCreate h2,
    .profileRegister h2,
    .profileEdit h2,
    .profile h2 {
      margin-left: 0;
      margin-bottom: 30px;
    }
    .productCreate .main-container ,
    .profileRegister .main-container ,
    .profileEdit .main-container ,
    .profile .main-container {
      /* max-width: 1200px; */
      padding: 0px;
      flex-direction: row;
      justify-content: left;
      align-items: flex-start
    }
    .wrapper-Col-33 {
      width: 260px;
      flex-grow: 0;
      margin-left: 3%;
    }
    .wrapper-Col-66 {
      width: 60%;
      flex-grow: 1;
    }
    .wrapper-Col-main {
      width: 100%;
      flex-grow: 1;
    }

    .wrapper-Col-33 .img-slider ,
    .wrapper-Col-66 .img-slider {
      display: initial;
    }
    .history-items .img-slider {
      padding-right: 30px
    }
    /* .history-items .img-slider img {
      max-width: 200px;
    } */
    
  /* ----------------------------- FOOTER -------------------------------*/
  /* ---------------------------------------------------------------------*/

  footer li {
    text-align: left;
  }

  .social-footer {
    width: 40%;
    padding: 0 7% 0 3%;
  }

  .iconos-social-footer {
    text-align: right;
  }

  .navegacion-footer,
  .info-footer {
    align-items: flex-start;
    margin-bottom: 0px;
    width: 20%;
  }

  .copyright {
    justify-content: flex-start;
  }

  img.detalles-design {
    left: -75px;
    bottom: 10px;
  }
}

/*
-------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------
                   Navegación en DESKTOP (ancho mínimo 1200 px)
-------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------*/
@media (min-width: 1200px) {
  .main-header {
    height: 80px;
  }

  main p {
    margin-top: 10px;
    font-size: 14px;
  }

  #logo {
    flex-basis: 200px;
  }

  #logo-img {
    padding: 10px 30px;
  }

  /* -------------------  HEADER  ------------------------------------*/

  .main-navbar {
    display: flex;
    justify-content: center;
    flex-grow: 0.7;
  }

  .main-navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .main-navbar a {
    line-height: 80px;
    text-decoration: none;
    color: white;
    letter-spacing: 0.05em;
    font-size: 1em;
    font-weight: 500;
    margin-right: 40px;
  }

  .icons-navbar {
    display: flex;
  }

  .icons-navbar a {
    font-size: 18px;
    line-height: 80px;
  }

  .icons-navbar i {
    padding: 0 30px;
  }

  .nav-link >i,
  a.nav-link {
    font-size: 14px;
    letter-spacing: 0.05em;
    padding: 5px;
  }
  

  /* ----------------------  HOME  ------------------------------------*/

  .producto-destacado {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .contenedor-producto img {
    height: 1000px;
    width: 1000px;
    transform: rotate(90deg);
    object-fit: cover;
    overflow: hidden;
    object-position: right 50% top 300px;
  }

  .producto-destacado .descripcion-producto {
    width: 30%;
    margin-top: 10px;
    font-size: 14px;
  }

  .producto-destacado .destacado-tabla {
    /* display: block; */
    width: 300px;
    line-height: 20px;
    /* padding: 20px; */
  }

  /* -------------------------------------------------------*/
  .categorias-image {
    height: 400px;
  }

  .categorias-image img {
    height: 400px;
  }
  /* ------------------------ MODEL FINDER -------------------------*/

  .model-finder .descripcion {
    padding: 60px;
  }

  .model-finder::after {
    background-size: auto 150%;
    background-position-x: 40vw;
  }

  /* ------------------- LOGIN / REGISTER   -------------------------*/
  
  .form-title {
    width: 60%;
  }
  .login-register {
    width: 40%;
  }
  /* ------------------- SHOP  --------------------------------------*/
  
  .shop-filters {
    top: 80px;
  }
  
  .producto-shop {
    flex-basis: 25%;
    max-width: 25%;
  }  
  /* ------------------- PRODUCT DETAIL ---------------------------*/
  
  .left-wrapper {
    width: 45%;
    padding: 0 20px;
  }

  .product-detail-form {
    width: 40%;
    flex-grow: 1;
    margin-right: 30px;
  }
  .product-summary {
    width: 40%;
  }

  /* ------------ PRODUCT CART ----------------------------------------*/
  
  .productCart .cartItems {
    /* width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 30px;
    padding-right: 15px; */
    padding: 0 80px;
  }
}
  
  /* ------------ CUSTOM TRACK ----------------------------------------*/

@media (min-width: 576px) {
  .tracker-dialog {
    max-width: 750px;
    margin: 1.75rem auto;
  }

.tracker-header {
  padding: 20px;
  border-bottom: none;
  text-align: center;
  text-transform: uppercase;
}

.tracker-header h4 {
  color: #fad6d1;
  text-transform: uppercase;
}
.tracker-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem 0;
  color: #fff;
}
:-moz-any-link:focus {
  outline: none;
}
.tracker-title {
  line-height: 3rem;
}
.tracker-body {
  padding: 1rem;
}
#progressbar {
  margin-bottom: 3vh;
  overflow: hidden;
  color: white;
  padding-left: 0px;
  margin-top: 3vh;
}

#progressbar li {
  list-style-type: none;
  font-size: 0.8rem;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
  color: white;
}

#progressbar li:before {
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: rgb(151, 149, 149);
  border-radius: 50%;
  margin: auto;
  z-index: -1;
  margin-bottom: 1vh;
  color: white;
  width: 20px;
  height: 20px;
  content: "";
}

#progressbar #step1:before {
  margin-left: 0px !important;
}

#progressbar #step2,
#progressbar #step3 {
  text-align: center;
}
#progressbar #step4 {
  text-align: right;
}
#progressbar #step4:before {
  margin-right: 0px !important;
}

#progressbar li:after {
  content: "";
  height: 3px;
  background: rgb(151, 149, 149, 0.651);
  position: absolute;
  left: 0%;
  right: 0%;
  margin-bottom: 2vh;
  top: 8px;
  z-index: 1;
}
.progress-track {
  padding: 0 8%;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: white;
}

#three {
  font-size: 1.2rem;
}
}
@media (max-width: 767px) {
  #three {
    font-size: 1rem;
  }
.details {
  padding: 2rem;
  font-size: 1.4rem;
  line-height: 3.5rem;
}
}

@media (max-width: 768px) {
  .details {
    padding: 2rem 0;
    font-size: 1rem;
    line-height: 2.5rem;
  }

  /* .d-table-cell {
    padding-left: 1rem;
  } */

/* .col-3 {
  display: grid;
  text-align: end;
}
.col-3 .d-table-row {
  align-self: flex-end;
} */
/* .fa {
  font-size: xx-large;
  text-align: center;
  width: 3rem;
  padding: 0.5rem;
  color: #42469d;
  background-color: #fff;
  border-radius: 2rem;
  bottom: 0;
  right: 0;
} */
button:active {
  outline: none;
}
button:focus {
  outline: none;
}

.d-table-row {
  text-align: right;
}

.politica-cancelacion {
  margin-top: 40px;
  color: grey;
  font-size: 10px;
}

/*----------------------NEW PRODUCT FORM ------------------*/

.product-form{
  display: flex;
  padding: 20 px;
  align-content: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 20px;
}

.product-form label{
  text-align: left;
  margin-bottom: 10px;
}
}
