/* @media (min-width: 360px) {
    footer {
        color: #001728;
    }
}*/


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*---------------------------------------------
        HEADER
---------------------------------------------*/
header {
    background-color: #001728;
}
ul {
    list-style: none;
}
li {
    display: inline;
    margin: 20px 10px 20px 0;
}
#logo-header {
    display: block;
    height: 100px;
    padding: 20px;
}
i {
    color: #f4f5ec;
    padding: 20px;
}

/*---------------------------------------------
        MAIN
---------------------------------------------*/
main {
    padding: 20px;
    height: 100vh;
    width: 100%;
    position: relative;
    background: #f7f7f7;
}



#content {
    height: 500px;
    width: 700px;
    position: absolute;
    left: 12%;
    top: calc(50% - 250px);
}



#content h2 {
    font-size: 140px;
    color: grey;
}




#content p {
    font-size: 20px;
    color: grey;
}



#content button {
    width: 35%;
    height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 5vh;
    margin-left: center;
    border: none;
    outline: none;
    border-radius: 20px;
    background: dodgerblue;
    color: white;
}


#content button:hover {
    background: navy;
}


/* This styles the aside container */

#tabla {
    height: 600px;
    width: 600px;
    position: absolute;
    top: calc(50% - 250px);
    right: 7%;
}


/* This styles the 3D object inserted in the aside container */

#tabla model-viewer {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

/*---------------------------------------------
        FOOTER
---------------------------------------------*/
footer {
    padding: 20px;
}


/* .................. MEDIA QUERIES ...................
--------------------------------------------------------
Navegación en TABLETS (ancho mínimo 768px px)
------------------------------------------------------ */

@media (min-width: 768px) {
    footer {
        color: #001728;
    }
}

/*
--------------------------------------------------------
Navegación en DESKTOP (ancho mínimo 1200 px)
------------------------------------------------------ */

@media (min-width: 1200px) {
    footer {
        color: #001728;
    }
}

/*
--------------------------------------------------------
Login / Register
------------------------------------------------------ */
main {
    border: 2px black solid;
    background-color: #8CD8D5;
    
}

.registro {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    margin: 5px 20px;
    padding: 5px 20px;
}

.titular {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}

.datos input {
    border-radius: 5px;
    height: 30px;
    margin: 10px 0px;
    padding: 1px 10px
}

.boton { 
    background-color: #335cb1;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #f4f5ec;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 1px 10px
}

.ingreso {
    text-align: center;
    margin: 20px;
}

.logo-ingreso {
    display: block;

}
.fa-facebook {
    background-color: #335cb1;
    color: white;
    padding: 5px;
    
}