<!DOCTYPE html>
<html lang="en">
    <%-  include("./partials/head", {title: 'PapaHoe || Not Found'}) %>


    <body>
        <%- include("./partials/header") %>
    
    <main class="en-construccion not-found" >
        <div class="col1">
            <p><strong>EN CONSTRUCCIÓN</strong></p>
            <p>404! NOT FOUND</p>
            <p>La página que estás buscando no se encuentra en el servidor (Error 404)</p>
            <p>Prueba mejor suerte en alguno de estos links:</p>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/product">Shop</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>

        </main>
    <%- include("./partials/footer") %>

    </body> 
</html>