<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <main class="shopify-checkout-shipping">
                <section class="data-user">
                    <div class="shopify-contact">
                        <ul class="breadcrumb">
                            <li><a href="/cart">Carrito</a></li>
                            <li><a href="/product/cart1">Información</a></li>
                            <li><a href="/product/cart2">Envío</a></li>
                            <li><a href="/product/cart3">Pago</a></li>
                        </ul>
                    </div>

                    <div class="chequeo">
                        <div> 
                            <p>Contacto</p> 
                            <p>pepito@gmail.com</p>
                            <a href="login">Cambiar</a>
                        </div>

                        <div class="division"></div>

                        <div>
                            <p>Envío a </p>
                            <p>Av. Monroe 860 - (C1428) - C.A.B.A. </p>
                            <a href="/product/cart">Cambiar</a>
                        </div>

                    </div>

                    <div>
                        <h2>Método en envío</h2>
                        <div class="metodoEnvio">
                            <div class="radio">
                                <input type="radio" name="metodoEnvio" value="Normal" required> Normal
                                <p>$400,00</p>
                            </div>

                            <div class="division"></div>

                            <div class="radio">
                                <input type="radio" name="metodoEnvio" value="LlegaHoy" required> Llega Hoy
                                <p>$1000,00</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <a href="product/cart">
                            <i class="fa-solid fa-angle-left"></i> Volver a Información
                        </a>
                        <a href="product/cart3"></a>
                            <button class="boton-shop" type="submit">Continuar con el pago</button>
                        </a>
                    </div>
                </section>

                <section class="data-product">
                    <div>
                        <article id="prod">
                            <img src="/img/Surfboards/img_9758-1b.png" alt="producto">
                            <p>Tabla Pipona</p>
                            <p>U$525,00</p>
                            <i class="fa-solid fa-trash-can"></i>
                        </article>
                        <article id="prod">
                            <img src="/img/accesorios/Fins/pyzel_c_fins_bc8db4a4-7135-4dbc-afa2-af81f9c25f6a.webp"
                                alt="producto">
                            <p>Fin Pipon</p>
                            <p>U$225,00</p>
                            <i class="fa-solid fa-trash-can"></i>
                        </article>
                    </div>

                    
                    <button class="boton" type="submit">Seguir comprando 
                        <a href="shop"></a>
                    </button>
                    

                    <form class="giftCard" action="# //gift card// ">
                        <input class="caja-shop" type="text" name="giftCard" id="giftCard"
                            placeholder="Gift Card o Código de descuento">
                        <button class="boton-descuento" type="submit">Aplicar</button>
                    </form>

                    <div>
                        <div class="importes">
                            <h6>Subtotal</h6>
                            <p>$XXXX,XX</p>
                        </div>
                        <div class="importes">
                            <h6>Envío</h6>
                            <p>$XXXX,XX</p>
                        </div>

                        <div class="division"></div>

                        <div class="importes">
                            <h5>Total</h5>
                            <p> <strong>$XXXX,XX</strong></p>
                        </div>
                    </div>
                </section>
            </main>
            <%- include("../partials/footer") %>
    </body>

</html>