<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>

            <main>
                <div class="login-register">
                    <h2>Nuevo Producto</h2>
                    <div>
                        <!-- <img id="shaka" src="/img/shakasign_99700.svg" alt="shaka"> -->
                        <img src="/images/brand/LOGO-PapaHoe-LogoWord.png" alt="Logo">
                    </div>
                    <div class="login-formulario">
                        <form action="/product/create" method="POST" enctype="multipart/form-data">
                            <div class="NP-1">                                
                                <div class="form-input">
                                    <label for="titulo">Nombre</label>
                                    <input type="text" name="titulo" id="titulo" placeholder="titulo" required>
                                </div>
                                <div class="form-input">
                                    <label for="categoria">Category</label>
                                    <select name="categoria" id="categoria" required>
                                        <option value="accesorios">Accesorios</option>
                                        <option value="surfboards">Surfboards</option>
                                        <option value="complementos">Complementos</option>
                                    </select>
                            <!-- <input type="text" name="categoria" id="categoria" placeholder="Categoría" required> -->
                                </div>
                                <div class="form-input">
                                    <label for="subCategoria">Subcategoría</label>
                                    <input type="text" name="subCategoria" id="subCategoria" placeholder="Subcategoria" required>
                                </div>
                                </div>
                                <div class="NP-1">
                                    <div class="form-input">
                                        <label for="brand">Marca del producto</label>
                                        <input type="text" name="brand" brand="brand" placeholder="brand" required>
                                    </div>
                                    <div class="form-input">
                                        <label for="model">Model</label>
                                        <input type="text" name="model" id="model" placeholder="model" required>
                                    </div>

                                    <div class="form-input">
                                        <label for="precio">Price</label>
                                        <input type="text" name="precio" id="precio" placeholder="Precio" required>
                                    </div>
                                    <div class="form-input">
                                        <label for="descuento">Discount</label>
                                        <input type="text" name="descuento" id="descuento" placeholder="Descuento" required>
                                    </div>
                                </div>
                            <div class="form-input">
                                <label for="description">Descripción</label>
                                <textarea class="NP-desc" type="text" name="description" id="description" placeholder="Descripción"></textarea>
                            </div>
                            <div class="form-input">
                                <label for="features">Features</label>
                                <textarea class="NP-desc" type="text" name="features" id="features" placeholder="Features"></textarea>
                            </div>
                            <div class="form-input">
                                <label for="ability">Ability</label>
                                <select name="ability" id="ability">
                                    <option value="principiante">Principiante</option>
                                    <option value="intermedio">Intermedio</option>
                                    <option value="experto">Experto</option>
                                </select>             
                            </div>
                            <div class="form-input">
                                <label for="dimensions">Dimensions</label>
                                <select name="dimensions" id="dimensions">
                                    <option value="1">5'10--19 1/2--2 9/16--31</option>
                                    <option value="2">5'11--19 5/8--2 5/8--32</option>
                                    <option value="3">6'0--19 3/4--2 11/16--33</option>
                                    <option value="4">6'0--19 3/4--2 11/16--33</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label for="finSystem">Fin System</label>
                                <select name="finSystem" id="finSystem">
                                    <option value="CS SII">CS SII</option>
                                    <option value="Futures">Futures</option>
                                </select>                                    
                            </div>        
                            <div class="form-input">
                                <label for="imagen">Imagen del Producto</label>
                                <input type="file" name="imagen" id="imagen" placeholder="Imagen del Producto">
                            </div>
                            <div>
                                <button class="submit-button" type="submit">Crear</button>
                                <br><br><br>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
            <%- include("../partials/footer") %>
    </body>

</html>