<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head", {title: 'PapaHoe || Shop'}) %>

    <body>
        <%- include("../partials/header") %>

        <header class="section-header">
            <img id="carrousel-image-1" src="/images/stock/guille-unsplash.jpg"
                alt="PapaHoe foto1">
        </header>

        <main class="shop">
            <!-- <div class="shop-filters">
                <div class="search-box">
                    <a href="#"><span id="lupa-icon"><i class="fa-solid fa-magnifying-glass"></i></span></a>
                    <form action="/product/all" method="GET" id="searchForm">
                        <input type="text" name="keyword" placeholder="Buscar" id="search-form-input">
                        <button class="magnifier" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div> -->
    
            <!-- <p>
                <a href="/product/all"> <strong> SHOP </strong></a> |
                <a href="/product/all?cat=surfboards"> SURFBOARDS </a> |
                <a href="/product/all?cat=accesorios"> ACCESORIOS </a> |
                <a href="/product/all?cat=complementos"> COMPLEMENTOS </a> |
            </p> -->
                <span></span>
                <%if(locals.isAdmin){%>
                    <p>
                        EN CONSTRUCCIÓN! Opciones User admin --->
                        <a href="/admin/create"> <strong>Crear Producto </strong></a>
                    </p>
                    <% }%>
            </div>

            <h1 class="titulo-seccion-main accesorios"></h1>
            <section class="contenedor-productos" id="prodsContainer">
                <!-- Display de todos los productos pedidos (x categoría, x filtros, etc) -->
            </section>
        </main>

        <!-- --------- footer --------- -->
        <%- include("../partials/footer") %>
        <!-- --------- footer --------- -->

    </body>

</html>