<footer>
    <div class="grid-menu-footer">
        <div class="social-footer">

            <form class="suscripcion-box">
                <label for="newsletter"></label>
                <input id="newsletter" name="newsletter" type="email" placeholder="Unite a la tribu">
                <button class="sobre" type="submit"><i class="fa-solid fa-envelope"></i></button>
            </form>

            <div class="iconos-social-footer">
                <button class="instagram-footer" type="button"><i class="fa-brands fa-instagram"></i></button>
                <button class="facebook-footer" type="button"><i class="fa-brands fa-facebook-f"></i></button>
                <button class="youtube-footer" type="button"><i class="fa-brands fa-youtube"></i></button>
                <button class="vimeo-footer" type="button"><i class="fa-brands fa-vimeo-v"></i></button>
            </div>
        </div>

        <ul class="navegacion-footer">
            <li>
                <h3>Ayuda</h3>
            </li>
            <li><a href="/tracker">CustomBoard Tracker</a></li>
            <li><a href="/volumeCalculator">Volume Calculator</a></li>
            <li><a href="/faqs">FAQ's</a></li>
            <li><a href="/devoluciones">Envíos y Devoluciones</a></li>
            <li><a href="/politica-cancelacion">Términos y Condiciones</a></li>
        </ul>

        <ul class="navegacion-footer">
            <li>
                <h3>Papa Hoe</h3>
            </li>
            <li><a href="/product/category">Shop</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/about/#teamRiders">Team Riders</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Privacidad</a></li>
        </ul>

        <ul class="info-footer">
            <li>
                <h3>Servicio al Cliente</h3>
            </li>
            <li>info@papahoe.com</li>
            <li>ARG +54 11 4395 859<br>MEX +52 00 4395 859</li>
            <li>
                <h4>Surfboard Factory</h4>
                <p>Calle Cualca 27 <br>
                    Villa Gesell, Argentina</p>
            </li>
            <li>
                <h4>DF Showroom</h4>
                <p>San Tlatelolco 123 <br>
                    Colonia Roma, DF</p>
            </li>
        </ul>

        <div class="copyright">
            <img class="detalles-design" src="/images/brand/PapaHoe-ELEMENTS-LosPuntitos.png" alt="PapaHoe Brand elements">

            <img id="logo-footer" src="/images/brand/PapaHoe-logo-min-white.svg" alt="PapaHoe Logo">
            Copyright © 2022 Papa Hoe
        </div>
    </div>
</footer>