<header class="main-header">
    <div class="burger-menu">
        <div>
            <span class="icon-bg">
                <!-- <i class="fa-solid fa-square fa-stack-2x"></i>   -->
                <i class="fa-solid fa-bars"></i>
            </span>
        </div>
    </div>
    <a id="logo" href="/"><img id="logo-img" src="/images/brand/LOGO-PapaHoe-LogoWord-Negativo.png" alt="PapaHoe Logo"></a>
    <nav class="main-navbar">
        <ul>
            <li><a href="/product">Surfboards</a></li>
            <li><a href="/product">Complementos</a></li>
            <li><a href="/product/boardBuilder">Board Builder</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <nav class="icons-navbar">
        <ul>
            <% if(locals.usuario) { %>  

                    <li><a href="#"><span id="lupa-icon"><i class="fa-solid fa-magnifying-glass"></i></span></a></li>
                    <li><a href="/user/profile/<%= locals.usuario.id%>"><span id="usuario-icon"><i class="fa-solid fa-user"></i></span></a></li>
                    <li><a href="/user/logout" class="nav-link"><i class="fas fa-sign-out-alt"></i></a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-cart-plus"></i></a></li> -->

                  <% } else { %>
                    <li><a href="#"><span id="lupa-icon"><i class="fa-solid fa-magnifying-glass"></i></span></a></li>
                <!-- <form class="search-box">
                <input type="text" placeholder="Buscar productos, marcas">
                <button class="magnifier" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form> -->
                    <li><a href="/user/login"><span id="usuario-icon"><i class="fa-solid fa-user"></i></span></a></li>
                    <% } %> 
                    <li><a href="/product/cart"><span id="carrito-icon"><i class="fa-solid fa-cart-shopping"></i></span></a>
            </li>
        </ul>
    </nav>
</header>