<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
    <body>
        <%- include("../partials/header") %>
<div class=" container">        
        <h1 class="about-h1">About          
            <a class="about-imag" href="/"><img id="about-imag" src="/images/brand/LOGO-PapaHoe-LogoSticker-Negativo.png" alt="PapaHoe Logo"></a>
            </a> </h1>           
        <p class="about-p">Una tradición familiar desde 1956, <strong> Papa Hoe Surfboards </strong> ha estado en el negocio de las tablas de surf por más tiempo que cualquier otro fabricante australiano.</p>

        <p class="about-p">Surf Life Saving introdujo Racing Malibu's a los títulos australianos en carreras de paddle board y competiciones de iron man en 1962 y con longboards, se incorporó a la producción de tablas de surf de Papa Hoe.</p>

        <p class="about-p">Papa Hoe's siempre ha mantenido sus fuertes raíces en el entorno de Surf Life Saving.</p>
        <p class="about-p">Y durante los últimos 40 años, ha suministrado muchas tablas de paddle y tablas de rescate a clubes locales y extranjeros.</p>

        <p class="about-p">El nombre de Papa Hoe es muy valorado entre la fraternidad Surf Life Saving y se han ganado muchos títulos australianos y mundiales con las tablas de Papa Hoe.</p>

        <p class="about-p">El amable personal de <strong> Papa Hoe Surfboards </strong> está decidido a ayudarlo a encontrar el equipo adecuado. Ya se trate de tablas de surf, embarcaciones salvavidas de surf, esquís o remos, podemos brindarle asesoramiento calificado para garantizar que obtenga lo mejor de su compra.</p>
        <p>Si no está en los bastidores, podemos encargarlo a su medida, así que entre y eche un vistazo.</p>
</div>

     <%- include("../partials/footer") %>
    
  </body> 
    
</html>