<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <main class="en-construccion">
                <h1>Página en construcción</h1>
                <a class="rosa button-link" href="#">Hola como estas</a>
            </main>
            <%- include("../partials/footer") %>
    </body>

</html>