<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head", {title: 'PapaHoe || Contact Us'}) %>

    <body>
        <%- include("../partials/header") %>
        <main>       
            <div class="login-register">
                <h2>Contact US</h2>
                <div class="login-img">
                    <img src="/images/brand/PapaHoe-ELEMENTS-Lalinea.png" alt="LaLinea">
                </div>
                <form class="formulario" action="/" method="GET"
                                enctype="multipart/form-data">
                    <div class="form-input">
                        <label for="email">Email </label><span class="errMsg" id="errMsg"></span>
                        <input required type="email" name="email" id="email" placeholder="Email" >
                    </div>      
                    <div class="form-input">
                        <label for="features">Dejanos tu mensaje</label>
                        <span class="errMsg" id="errMsg"></span>
                        <textarea class = "txt-contact" id="mensaje"></textarea>
                    </div>            
                    <div class="submit-button">
                        <button class="submit-button" type="submit">Enviar</button>
                    </div>
                </form>                
        </main>
        <%- include("../partials/footer") %>
        <script src="/js/contactFormValidation.js"></script>
         <!-- sweet alert -->
         <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>

</html>