<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>

            <main class="register" >
                <div class="register-title">
                    <h2>Crear Cuenta</h2>
                </div>
                <div class="login-register">
                    <div class="login-img">
                        <!-- <img id="shaka" src="/img/shakasign_99700.svg" alt="shaka"> -->
                        <img src="/images/brand/PapaHoe-ELEMENTS-Lalinea.png" alt="LaLinea">
                    </div>

                    <form class="login-formulario" action="/user/register" method="post" enctype="multipart/form-data">
                        <section class="datos-section">
                            <h4>Datos Personales</h4>
                        <div class="login-input nombre">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                        </div>
                        <div class="login-input apellido">
                            <label for="apellido">Apellido</label>
                            <input type="text" name="apellido" id="apellido" placeholder="Apellido" required>
                        </div>
                        <div class="login-input">
                            <label for="usuario">Usuario</label>
                            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" required>
                        </div>
                        <div class="login-input">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="Email" required>
                        </div>
                        <div class="login-input">
                            <label for="contraseña">Contraseña</label>
                            <input type="password" name="password" id="password" placeholder="Contraseña" required>
                        </div>
                    </section>
                        <section class="datos-section">
                            <h4>Datos de Envío</h4>
                            <div class="login-input">
                                <label for="telefono">Teléfono</label>
                                <input type="text" name="telefono" id="telefono" placeholder="Teléfono" required>
                            </div>
                            <div class="login-input">
                                <label for="direccion">Dirección</label>
                                <input type="text" name="direccion" id="direccion" placeholder="Dirección" required>
                            </div>
                            <div class="direccion">
                                <div class="login-input">
                                    <label for="departamento">Piso, departamento</label>
                                    <input type="text" name="departamento" id="departamento" placeholder="Piso, departamento">
                                </div>
                                <div class="login-input">
                                    <label for="localidad">Localidad</label>
                                    <input type="text" name="localidad" id="localidad" placeholder="Localidad" required>
                                </div>
                                <div class="login-input">
                                    <label for="codigoPostal">Código Postal</label>
                                    <input type="text" name="codigoPostal" id="codigoPostal" placeholder="Código Postal" required>
                                </div>
                            </div>
                        </section>
                        <br>
                        <div class="login-input custom-file">
                            <label for="avatar">Elige una imagen de perfil</label>
                            <br>
                            <input type="file" name="avatar" id="avatar">
                        </div>  
                        <div class="submit-button">
                            <button class="submit-button" type="submit">Crear</button>
                        </div>
                    </form>
                </div>
            </main>
            <%- include("../partials/footer") %>
    </body>

</html>