<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>

            <main>
                <div class="login-register">
                    <h2>Crear Cuenta</h2>
                    <div class="login-img">
                        <!-- <img id="shaka" src="/img/shakasign_99700.svg" alt="shaka"> -->
                        <img src="/images/brand/PapaHoe-ELEMENTS-Lalinea.png" alt="LaLinea">
                    </div>

                    <form class="login-formulario" action="/user/register" method="post" enctype="multipart/form-data">
                        <div class="login-input nombre">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                        </div>
                        <div class="login-input apellido">
                            <label for="apellido">Apellido</label>
                            <input type="text" name="apellido" id="apellido" placeholder="Apellido" required>
                        </div>
                        <div class="login-input">
                            <label for="usuario">Usuario</label>
                            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" required>
                        </div>
                        <div class="login-input">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="Email" required>
                        </div>
                        <div class="login-input">
                            <label for="contraseña">Contraseña</label>
                            <input type="password" name="password" id="password" placeholder="Contraseña" required>
                        </div>
                        <div class="login-input">
                            <label for="telefono">Teléfono</label>
                            <input type="text" name="telefono" id="telefono" placeholder="Teléfono" required>
                        </div>
                        <div class="login-input">
                            <label for="dirección">Dirección</label>
                            <input type="text" name="dirección" id="dirección" placeholder="Dirección" required>
                        </div>
                            <div class="direccion">
                                <div class="login-input">
                                    <label for="departamento"></label> Piso, departamento
                                    <input type="text" name="departamento" id="departamento" placeholder="Piso, departamento" required>
                                </div>
                                <div class="login-input">
                                    <label for="localidad"></label> Localidad
                                    <input type="text" name="localidad" id="localidad" placeholder="Localidad" required>
                                </div>
                                <div class="login-input">
                                    <label for="codigoPostal"></label> Código Postal
                                    <input type="text" name="codigoPostal" id="codigoPostal" placeholder="Código Postal" required>
                                </div> 
                            </div>
                            <div class="custom-file">
                                <input type="file"   name="avatar"  placeholder="Debes eligir tu avatar...">
                            </div>  
                        </div>

                        <div>
                            <button class="submit-button" type="submit">Crear</button>
                        </div>
                </form>
                </div>
            </main>
            <%- include("../partials/footer") %>
    </body>

</html>