/* @media (min-width: 360px) {
    footer {
        color: #001728;
    }
}*/


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/*---------------------------------------------
        HEADER
---------------------------------------------*/



/*---------------------------------------------
        MAIN
---------------------------------------------*/




/*---------------------------------------------
        MAIN
---------------------------------------------*/



/* .................. MEDIA QUERIES ...................
--------------------------------------------------------
Navegación en TABLETS (ancho mínimo 768px px)
------------------------------------------------------ */

@media (min-width: 768px) {
    footer {
        color: #001728;
    }
}

/*
--------------------------------------------------------
Navegación en DESKTOP (ancho mínimo 1200 px)
------------------------------------------------------ */

@media (min-width: 1200px) {
    footer {
        color: #001728;
    }
}